[2019-02-25 14:11] tebriz159 opened #1 "Logo design"
Hi, I'm a logo designer, I design free logos for open source project and I can make a logo for your project. So, what do you think?

[2019-02-26 16:51] dev-myatminsoe opened #2 "Failed to resolve: com.github.yalantis:ucrop:2.2.2"
I think the ucrop dependencies is 'com.yalantis:ucrop:2.2.0-native'

[2019-02-26 16:55] dev-myatminsoe commented on #2
If someone is also having a problem, you can use like this for now.

[code]

[2019-02-28 08:30] Dhaval2404 commented on #1
Thanks for the approach! This is just a library project so I don't think it required a logo.

[2019-02-28 08:30] #1 closed

[2019-03-06 07:38] tplloi opened #3 "Multi select img"
Hello @Dhaval2404
Everything good to me, but how can i select 3 photos from gallery? It seems no method for setting this right?
[code]
Thanks.

[2019-03-06 08:48] Dhaval2404 commented on #3
Thanks for the feedback. In the current release, ImagePicker doesn't support multiple image selection. But I will try to integrate this in the upcoming release.

[2019-03-06 09:37] Dhaval2404 commented on #2
@dev-myatminsoe Thank you very much for the feedback.

You need to add jitpack repository in your build.gradle

[code]
Regarding which uCrop lib to use:

For lightweight general solution
`implementation  'com.github.yalantis:ucrop:2.2.2`

To get the power of the native code to preserve image quality (+ about 1.5 MB to an apk size)
`implementation  'com.github.yalantis:ucrop:2.2.2-native'`

So, Dev

[2019-03-20 05:30] DineshNeupane opened #4 "put some screenshots"

[2019-03-31 19:03] Asykur opened #5 "onActivityResult won't triggered after pick image in Java"
After pick image from camera or gallery onActivityResult won't triggered after pick image in Java
here is my code
ImagePicker.Companion.with(MainActivity.this).cameraOnly().start(REQUEST_CAMERA);

[2019-03-31 19:29] Dhaval2404 commented on #5
@Asykur I'm not able to reproduce your issue. Can you please provide more information regarding your comment. Can you please post you `onActivityResult` code.

[2019-03-31 19:36] Dhaval2404 commented on #5
Here is the source code from my demo project.

**MainActivity.java**
[code]

**Logcat**
![image](https://user-images.githubusercontent.com/7314181/55293977-1f265700-541a-11e9-8be9-5de8da88ff8b.png)

[2019-04-01 18:00] #2 closed

[2019-04-02 17:37] Dhaval2404 commented on #5
@Asykur Can you please provide required steps to reproduce this issue. I’m eager to receive your feedback.

[2019-04-04 04:35] Asykur commented on #5
sorry i made misake when passing contrext, and now already solved, thanks alot..

[2019-04-04 04:42] Dhaval2404 commented on #5
@Asykur Thank you so much for the feedback.

[2019-04-04 04:42] #5 closed

[2019-04-26 00:50] AbdulrahmanKassem opened #6 "ActivityNotFoundException: android.intent.action.OPEN_DOCUMENT"
**ActivityNotFoundException: android.intent.action.OPEN_DOCUMENT**
[code]
I face this issue only in android 8 (oreo)

[2019-04-26 04:00] Dhaval2404 commented on #6
Thank you @AbdulrahmanKassem for trying out the lib.  I will fix this issue ASAP.

Can you please let me know the Device you are testing.

[2019-04-27 12:31] AbdulrahmanKassem commented on #6
Brand: LAVA
Model: Z61-2GB
Version: 8.1.0

Brand: LAVA
Model: Z61
Version: 8.1.0

[2019-04-29 18:19] Dhaval2404 commented on #6
Hello @AbdulrahmanKassem, Sorry for the late response. I haven't able to reproduce this issue but I have applied fixes to the hotfix/v1.1 branch. Can you please check the below APK to verify that the issue is resolved or not.

[https://www.dropbox.com/s/q89fizga4ssz1ml/ImagePicker-v1.1.1.apk?dl=1](https://www.dropbox.com/s/q89fizga4ssz1ml/ImagePicker-v1.1.1.apk?dl=1)

Thank you.

[2019-05-01 06:35] ContextGrid opened #7 "Not working in fragment"
Hello Dhaval,

Hope you are doing well, I found that using your library and example it does not work in the fragment, it did not receive in fragment onActivityResult method.

[2019-05-01 07:12] Dhaval2404 commented on #7
@ContextGrid Thanks for trying out the lib.

For Fragment, you need to pass Fragment object inside **with** functions.

I suppose you are doing like, inside a fragment
   ` ImagePicker.with(activity) `  // Which is wrong

Please change it to
   `ImagePicker.with(this) //Here this referes to Fragment.`

[2019-05-01 11:57] Dhaval2404 commented on #7
@ContextGrid Is it working now?

[2019-05-02 09:01] Deliforce opened #8 "Failed to pick Gallery Image"
Library is awesome. But when i tried to pick an image from Downloads folder then it gives me the above error(Title) and the path was **content://downloads/public_downloads/1511** Using this path am setting this to imageview like this **Imageview.setImageURI**

[2019-05-02 09:34] Dhaval2404 commented on #8
@Deliforce Thank you very much for trying out the lib.

It looks like lib is failed to parse ImageUri(content://downloads/public_downloads/1511) into File object.

Will further investigate the issue and try to fix ASAP.

Thank you.

[2019-05-03 19:13] soareseneves opened #9 "Implement Inline Activity Result"
Hello,

First of all thanks for this great library!

I was wondering if you could please make the ImagePicker class open so I can override it, I want to add some way to open activity and get response with lambda which is way more convenient for me.

[2019-05-03 19:37] soareseneves commented on #9
Actually, if you could implement this library into yours that would be amazing: https://github.com/florent37/InlineActivityResult

I will do it myself on a forked git and if you enjoy I can do a pull request

[2019-05-03 20:35] soareseneves commented on #9
It's already working, I am sure I did not use the best approach but you will get the idea: https://github.com/soareseneves/ImagePicker

Here is an usage example:

`

ImagePicker.with(this)
                    .crop(1f, 1f)	    		//Crop Square image(Optional)
                    .compress(1024)			//Final image size will be less than 1 MB(Optional)
                    .maxResultSize(1080, 1080)	//Fi

[2019-05-05 15:29] RibinHaridas opened #10 "No option to open front camera as default"

[2019-05-06 12:09] soareseneves commented on #9
I made the library optional and added different methods instead of replacing yours to make it backward compatible, people already using your library will still be able to use it as it is even if they update it! I also updated README with this example, please check it out when you can.

[2019-05-10 12:49] soareseneves commented on #10
I will implement this and open a pull request.

[2019-05-10 13:37] Dhaval2404 commented on #9
@soareseneves Thank you for all your hard work on this. I Will merge the pull request shortly. I truly appreciate your hard work.

[2019-05-10 14:37] soareseneves commented on #10
It seems this will be harder than I thought, this library is using default camera intent, meaning the camera cannot be specified, a camera api is required in order to achieve that :/

[2019-05-10 16:33] soareseneves commented on #10
I researched a little bit more and unfortunately I don't think I have the experience to use the Camera API just yet, I might need a little time to learn or maybe I can find some library that already has a camera view using the Camera API...

[2019-05-12 21:53] felixdivo commented on #7
It works in my fragment just fine using `ImagePicker.with(this)`, with `this is Fragment == true`.

[2019-05-13 11:34] #9 closed

[2019-05-13 13:28] soareseneves opened #13 "Version Bump"
Hey there,

I think you forgot to bump the version after your last commit, I can't get the new features using version 1.1

[2019-05-13 13:31] Dhaval2404 commented on #13
@soareseneves I'm yet to upload the lib on jcenter. I will update the version after the lib upload.
Thanks

[2019-05-13 13:32] soareseneves commented on #13
Oh, ok, I will wait for it then :P, I hope you don't mind but I'm implementing your library into a Form Library: https://github.com/TheJuki/KFormMaster, I will send a PR to TheJuki after you upload the version!

Thanks for this great library!

[2019-05-13 13:36] Dhaval2404 commented on #13
@soareseneves Sure, Will do it in max 2-3 hours.

[2019-05-13 13:37] soareseneves commented on #13
Take your time :)

[2019-05-13 18:08] Dhaval2404 commented on #6
Fixed in v1.2

[2019-05-13 18:08] #6 closed

[2019-05-13 18:10] Dhaval2404 commented on #13
@soareseneves v1.2 is live now. Thanks

[2019-05-13 18:10] #13 closed

[2019-05-25 00:44] antranvn opened #15 "Feature Request: Bottom picker with Camera View and image list in grid view"
Thank you for your great library with nice Kotlin. To make it the best, i would like to propose a feature request.

When set **provider(ImageProvider.BOTH)**, there is config to display a bottom sheet fragment which is a grid view include camera view and images. You can see TedBottomPicker to get the idea, but that lib is not good enough.

[2019-05-26 04:36] antranvn opened #16 "Memory Leak"
When use providerBoth, leakcanary warn memory leak in ImageBuider picker....

[2019-06-07 14:28] serrokitskiy opened #17 "Localization"
Hello. How i can localization your lib? I need change "Edit Photo" to my language
![Screenshot_20190607-172329](https://user-images.githubusercontent.com/13848224/59111427-b1326a80-8949-11e9-9d86-848af46a2983.png)

[2019-06-07 16:41] Dhaval2404 commented on #17
Add  `<string name="ucrop_label_edit_photo">Edit Photo</string>` in your string.xml with localized language.

[2019-06-07 17:10] serrokitskiy commented on #17
@Dhaval2404 Thanks! And how I can localized "Camera" and "Gallery"

[2019-06-07 17:23] Dhaval2404 commented on #17
@serrokitskiy Please check this [link](https://github.com/Dhaval2404/ImagePicker/blob/master/imagepicker/src/main/res/values/strings.xml) for string localization. You can override the string as per your need.

[2019-06-07 17:26] serrokitskiy commented on #17
@Dhaval2404 Thanks!

[2019-06-07 17:26] #17 closed

[2019-06-11 13:29] vinzaceto opened #18 "Unable to start activity ComponentInfo{com.github.dhaval2404.imagepicker.ImagePickerActivity"
I received this error using this library:
Fatal Exception: java.lang.RuntimeException: Unable to start activity ComponentInfo{com.github.dhaval2404.imagepicker.ImagePickerActivity}: kotlin.TypeCastException: null cannot be cast to non-null type com.github.dhaval2404.imagepicker.constant.ImageProvider
       at android.app.ActivityThread.performLaunchActivity(ActivityThread.java:2419)
       at and

[2019-06-12 03:56] Dhaval2404 commented on #18
@vinzaceto Can you please help me with the steps to reproduce the issue. Thanks.

[2019-06-14 12:01] Johnsonmaung commented on #8
@Dhaval2404
GalleryProvider.kt (Line:102)
**val filePath:String? = FileUtils.getPath(activity, uri)**
went wrong.

uri=content://com.android.providers.downloads.documents/document/1310
filePath=null

[2019-06-26 09:29] LyamD opened #20 "How to save img path/name"
Hi, the title is pretty self explanatory :

I got a local database and I want to get the the full path (name of the pic included) in a String to save it.

[2019-06-26 09:36] #20 closed

[2019-06-26 09:39] Dhaval2404 commented on #20
@LyamD Looks like you already figure out the way. But if you still have a problem please check out the sample code from below link(Specially onActivityResult method):

https://github.com/Dhaval2404/ImagePicker/blob/master/sample/src/main/kotlin/com.github.dhaval2404.imagepicker/sample/MainActivity.kt

[2019-06-26 09:42] LyamD commented on #20
Yeah I just read the doc and see that there are a way to get the path String. I"ll play around with it to see if it's really what I need or if I need to make add some code myself.

Thank's for the response anyway

[2019-06-26 10:09] LyamD commented on #20
Okay one last question, is there a way to change the path of where the image is stored ? or do I need to save it myself where I want to ?

[2019-06-26 10:12] Dhaval2404 commented on #20
@LyamD Changing the path of the image is not supported now. I add this feature in the upcoming release.
Thanks for the suggestion.

[2019-07-01 18:00] petezajot opened #21 "How to change language"
How can i change the language or the text in the labels in the alert dialog?

[2019-07-02 16:59] Dhaval2404 commented on #21
@petezajot It supports English only for now.

[2019-07-02 17:01] petezajot commented on #21
Can i use custom text?

[2019-07-02 17:07] Dhaval2404 commented on #21
@petezajot No. But if you want to add language just duplicate below file in your language specific folder and change the text.
https://github.com/Dhaval2404/ImagePicker/blob/master/imagepicker/src/main/res/values/strings.xml

Also If you want to change text Refer: [#17 ](https://github.com/Dhaval2404/ImagePicker/issues/17)

[2019-07-02 17:19] petezajot commented on #21
it worked perfect! Thank you!

[2019-07-02 17:19] #21 closed

[2019-07-19 07:31] #8 closed

[2019-07-19 12:16] Dhaval2404 commented on #7
@ContextGrid Closing this task now. Let us know if you are still facing the issue.

[2019-07-19 12:16] #7 closed

[2019-07-23 04:26] Dhaval2404 commented on #16
@antranvn  I have tried many use cases to reproduce the memory leak using leakcanary and I succeed in none.  Here are the leakcanary logs:

[code]
Please let me know if you are still able to reproduce this issue.
Thanks

[2019-07-28 09:02] antranvn commented on #16
I'll check it soon again, do you have e-mail ?

[2019-07-28 16:17] Dhaval2404 commented on #16
@antranvn You can contact me on dhavalpatel244@gmail.com.

Thanks

[2019-07-30 13:37] vkfan opened #23 "Not working in Samsung Galaxy A5"
Image picker is not working in Samsung Galaxy A5. Android 6.0.1.
![15644938229312072698965603077218](https://user-images.githubusercontent.com/26092403/62133913-4411d480-b2fd-11e9-84c7-1b32590d9154.jpg)

[2019-07-30 16:49] Dhaval2404 commented on #23
@vkfan Which version you are currently using?

[2019-07-30 18:19] vkfan commented on #23
support 1.3, the issue is when I try to choose images from downloads folder.

[2019-08-01 15:46] kundank191 opened #24 "Images clicked in portrait mode are rotated."
When I take a picture from the camera in portrait mode the picture gets rotated. When the picture is taken by the camera in landscape mode the picture doesn't get rotated and looks the way it was clicked.

[2019-08-02 04:16] Dhaval2404 commented on #24
@kundank191 Thanks for the update. Will take a look.

[2019-08-02 04:21] harloom opened #25 "Could not find com.github.yalantis:ucrop:2.2.2 again"
Could not find com.github.yalantis:ucrop:2.2.2.
Searched in the following locations:
  - https://dl.google.com/dl/android/maven2/com/github/yalantis/ucrop/2.2.2/ucrop-2.2.2.pom
  - https://dl.google.com/dl/android/maven2/com/github/yalantis/ucrop/2.2.2/ucrop-2.2.2.jar
  - https://jcenter.bintray.com/com/github/yalantis/ucrop/2.2.2/ucrop-2.2.2.pom
  - https://jcenter.bintray.com/com/github/yalantis

[2019-08-02 04:24] Dhaval2404 commented on #25
@harloom Strange! Looking into it now.

[2019-08-02 04:24] #25 closed

[2019-08-02 04:26] harloom commented on #25
iam sory ,because i dizzy today

[2019-09-02 10:29] PerrchicK opened #26 "Camera permission is redundant and decreases supported devices count"
Hi,
Thanks a lot for this component, it saved me a lot of work!
I'm using v1.3 and when I try to publish my new bundle, Google Play Store tells me that some devices will not be compatible with the new version, it occurs because of this library.

In the readme file you've mentioned:
[code]

But, there's no actual need for this permission, unless of course you're presenting an embedded camera previe

[2019-09-02 14:54] Dhaval2404 commented on #26
@PerrchicK Thank you so much for raising this issue. I didn't know that camera permission is not required for intent. Will update the lib by tonight or max by tomorrow.

Thank you!

[2019-09-03 17:30] #26 closed

[2019-09-05 07:08] ArunkumarAdhash opened #28 "when i open camera app crashes"

[2019-09-05 08:40] Dhaval2404 commented on #28
Can you please provide me below info:
1. ImagePicker Version
2. Device Info
3. Device Android OS

[2019-09-06 03:52] Dhaval2404 commented on #28
@ArunkumarAdhash Can you please help me out here. Any crash log will be great to help.

Thank you!

[2019-09-09 16:37] Dhaval2404 commented on #28
@ArunkumarAdhash Do you have any crash logs? That would be a great help.

Thank you!

[2019-09-09 16:39] Dhaval2404 commented on #23
@vkfan Can you please try out the latest version.

[2019-09-09 21:25] jonandersen opened #29 "Android 10 permission issue"
Hi there!

Thanks for making this great library! I ran into some issues when using the library for Android 10. It's related to the file permission and the changes that have been made to it. The latest version uses scoped permissions for data storage: https://developer.android.com/training/data-storage/files/external-scoped

I'm not 100% sure if I need to update something on the caller side or if t

[2019-09-10 03:48] Dhaval2404 commented on #29
@jonandersen Thank you so much for the suggestions!

[2019-09-10 10:11] SabriGhazali opened #30 "Crop /Circular shape"
Hi there!

Can use a circular crop shape !?

[2019-09-10 11:09] Dhaval2404 commented on #30
@SabriGhazali it's not supported in current version.

Thank you!

[2019-09-10 13:36] jonandersen commented on #29
I think I was a little unclear above,  the library doesn't work on Android 10 unless the legacy storage is enabled.

[2019-09-10 13:39] Dhaval2404 commented on #29
@jonandersen after your comment only I got to know that it's not working in android 10. For now, I will add your comment inside readme file for anyone who is facing this issue.

In the upcoming days, I will add support for android 10.

Thank you so much!

[2019-09-10 14:17] SabriGhazali commented on #30
solve it thank you!

[2019-09-10 14:17] #30 closed

[2019-09-20 13:04] FreedomChuks opened #31 "does it work for fragment"
it always giving me task cancelled i overided onActivityResult

[2019-09-20 14:20] DevTard opened #32 "using .crop doesn't work corectly"
When using .crop, it opens the camera, when you take a picture it opens the crop screen and opens the camera again.

[2019-09-24 12:27] nauhalf opened #33 "Deprecated Property"
Hey, I just check the ImageUtil class, I found that
[code]
are deprecated.  I read in this documentation [https://developer.android.com/reference/android/graphics/BitmapFactory.Options.html#inPurgeable](url) that inBitmap is the other solution for the deprecated property.

Is there any update to implement that solution ?

[2019-09-25 03:42] Dhaval2404 commented on #31
@gzodx Can see any error or warning in logcat?

Any help to reproduce the issue will be appreciated.

[2019-09-30 17:43] Dhaval2404 opened #34 "ImagePicker crash while capturing Camera Image and Camera Permission is Defined in Manifest"
Today, I discover a very strange crash issue. When Camera Permission is declared in Manifest and **android.media.action.IMAGE_CAPTURE** intent is called then the app must request **CAMERA** runtime permission. Otherwise, app will be crashed.

And if we remove permission from manifest then an error will no longer be reproduced.

Found below StackOverflow link which has this kind of similar issue:
h

[2019-09-30 17:47] Dhaval2404 commented on #34
If anyone facing this issue, Kindly remove Camera Permission from Manifest.

[code]

[2019-10-06 10:04] ngoluuduythai opened #35 "Get Image form gallery not work in andorid Q"
https://developer.android.com/training/data-storage/files/external-scoped <br/>
Warning: Apps will be required to use scoped storage in next year's major platform release for all apps, independent of target SDK level. Therefore, you should ensure that your app works with scoped storage well in advance. To do so, make sure that the behavior is enabled for devices that run Android 10 (API level 29)

[2019-10-08 09:29] #35 closed

[2019-10-12 14:28] Dor-Sloim opened #36 "Dynamically choose crop ratio"
Is there an option to let your users choose crop ratio dynamically?
If not, could you add one using the [https://github.com/Yalantis/uCrop](url) library?

[2019-10-12 14:33] Dhaval2404 commented on #36
@Dor-Sloim Sorry, I didn't get your exact requirement. uCrop is already added in this lib. Currently, you can pass crop ration as below:

[code]

Here, the Crop option is optional.

[2019-10-12 14:40] Dor-Sloim commented on #36
I want to be able to do:
`ImagePicker.with(this)
	.**crop()**
	.start()`
Then, when the user crops, **he** can change the aspect ratio.

[2019-10-12 14:46] Dhaval2404 commented on #36
@Dor-Sloim I will try to integrate the feature in the next few hours.

Thank you so much for the feedback.

[2019-10-12 15:01] Dor-Sloim commented on #36
Thank you so much !
This might help you:

[2019-10-12 23:01] Dor-Sloim commented on #36
Great.
When do you think you will release

I'l be more than happy to test it and let you know if i find any bugs.
And again, Thank you so much !

[2019-10-13 17:31] #28 closed

[2019-10-13 17:32] Dhaval2404 commented on #36
@Dor-Sloim Can you please check out the latest lib.

[2019-10-13 17:32] #36 closed

[2019-10-13 17:32] Dhaval2404 commented on #34
Issue resolved as of v1.5

[2019-10-13 17:32] #34 closed

[2019-10-13 17:34] Dhaval2404 commented on #23
The issue has been resolved on v1.4

[2019-10-13 17:34] #23 closed

[2019-10-31 05:53] siltaz commented on #24
yup i'm having the same issue. Picture from camera gets rotated and croped on Capture.

[2019-10-31 06:16] vthakkar66 opened #38 "Failed to create Camera image file !"
Hello i am getting Failed to create Camera image file in Error. !
device : PIXEL 3A  API 29 Android Q
targetSdkVersion:29

Suggestion:

1. You can not get public directory at API 29 LEVEL.. it is deprecated..

 private fun getCameraDirectory(): File {
        val dir = context.getExternalFilesDir(null)!!.absolutePath
        return File(dir, "Camera")
    }

2.  Change the targetSdkVersion to 28 f

[2019-11-02 09:59] harloom opened #39 "Crop error after take pitcure"

[2019-11-03 16:58] Dhaval2404 commented on #38
@vthakkar66 Sorry for the late reply. I was on Diwali vacation😊

Have you tried to set ```android:requestLegacyExternalStorage="true"``` in android manifest. It's a must for API 29.

![image](https://user-images.githubusercontent.com/7314181/68088859-1bafee00-fe89-11e9-81eb-e17b0d823bfc.png)

[2019-11-03 16:59] Dhaval2404 commented on #39
@harloom Can you please provide some more info. Maybe some code, please?

[2019-11-04 09:58] vthakkar66 commented on #38
Yupp.. it will wotk

[2019-11-04 09:58] #38 closed

[2019-11-04 14:13] harloom commented on #39
`private fun loadImageFromCammera(){
        ImagePicker.with(this@CreateThreadFragment)
            .cameraOnly()    //User can only select image from Gallery
            .cropSquare()
            .compress(1024)
            .start(REQUEST_CODE_CAMERA)
    }`

ActivityonResult in fragment

`override fun onActivityResult(requestCode: Int, resultCode: Int, data: Intent?) {
        super.onActivityR

[2019-11-04 16:42] Dhaval2404 commented on #39
@harloom Thank you so much for the feedback.

I have looked into your code and found that your app ```targetSdkVersion``` is 29, So you need to set ```android:requestLegacyExternalStorage="true"``` in android manifest. It's a must for API 29.

![image](https://user-images.githubusercontent.com/7314181/68139181-b7a42d00-ff4f-11e9-927a-eab7c7cf577f.png)

**Missing requestLegacyExternalStorage Option

[2019-11-07 22:44] mahyari commented on #17
`<string name="ucrop_label_edit_photo">Edit Photo</string>` not works for me, It's not available in strings.xml file too.

[2019-11-12 07:26] DevyankShaw opened #40 "error: cannot access Function2 class file for kotlin.jvm.functions.Function2 not found"
It seems that result code doesn't work in Java. Kindly add this function for Java also.

[2019-11-14 14:03] benji101 opened #41 "Camera opens twice when "Don't keep activities" option is ON"
Doing some tests while having the developer option "Don't keep activities" turned on (that simulates what could happen when low on memory). After taking a picture, the camera is started again. Taking a second picture, it now behave like it should. Please note that I'm using the cameraOnly() option.

I think the problem is that ImagePickerActivity, in its onCreate method, is not considering the sav

[2019-11-14 17:31] harloom opened #42 "Ucrop crash"
ImagePicker.with(this@FromProyekActivity)
            .galleryOnly()    //User can only select image from Gallery
            .cropSquare()
            .compress(1024)
            .start { resultCode, data ->
                if (resultCode == Activity.RESULT_OK) {
                    val fileUri = data?.data
                    if (fileUri != null) {
                        mViewmodel.renderUpload

[2019-11-14 17:34] Dhaval2404 commented on #41
@benji101 I'm able to reproduce the issue. I will try to fix this issue asap.
Thank you so much for the feedback.

[2019-11-14 17:36] benji101 commented on #41
@Dhaval2404 Thanks to you! I would have try to fix it myself, but I'm really busy at the moment, and I don't know Kotlin yet :(
Thanks for all the efforts you put in helping the community!

[2019-11-14 17:39] Dhaval2404 commented on #42
@harloom I'm looking into the issue now.
Thank you so much for the feedback. Your feedback helps me to make the app bug free.

[2019-11-14 17:46] Dhaval2404 commented on #42
@harloom I'm able to reproduce the issue with uCrop 2.2.4.

Can you please downgrade uCrop to **v2.2.2** and try again.

```implementation 'com.github.yalantis:ucrop:2.2.2'```

[2019-11-15 03:51] Dhaval2404 commented on #42
@harloom Have you tried downgrading uCrop version? does it work for you?

[2019-11-15 03:51] Dhaval2404 commented on #39
@harloom does above solution works for you? Please reply so that I can close the issue.
Thanks

[2019-11-20 23:44] #39 closed

[2019-11-23 12:53] rajaasim opened #43 "Enable Preview"
Please put a sample gif or images

[2019-11-23 14:21] Dhaval2404 commented on #43
@rajaasim I will surely do that. Meanwhile, you can check out the sample app.

Here is the latest app link:
https://github.com/Dhaval2404/ImagePicker/releases/download/v1.5/ImagePicker-v1.5.apk

[2019-12-01 20:04] IronDigitalMedia opened #44 "Receiving "Failed To Create Camera Image File""
`
2019-12-01 14:00:05.865 16921-16921/com.irondigitalmedia.keep W/System.err:     at com.github.dhaval2404.imagepicker.util.FileUtil.getImageFile(FileUtil.kt:46)

2019-12-01 14:00:05.865 16921-16921/com.irondigitalmedia.keep W/System.err:     at com.github.dhaval2404.imagepicker.util.FileUtil.getImageFile$default(FileUtil.kt:30)

2019-12-01 14:00:05.865 16921-16921/com.irondigitalmedia.keep W/Syst

[2019-12-02 19:39] rafaelkowal opened #45 "Translate text"
Is there any way to translate edit photo title text and alert choose?

[2019-12-03 18:51] Dhaval2404 commented on #44
Possible duplicate of #38

[2019-12-03 18:54] Dhaval2404 commented on #45
@rafaelkowal  Please refer #17 for more information.

Let me know if you need any more help.

[2019-12-05 12:46] gzodx opened #46 "it auto save every image when uploaded how can i stop this"

[2019-12-05 12:52] Dhaval2404 commented on #46
@gzodx Do you mean upload on the server? Can you please explain the issue in detail?

[2019-12-05 12:56] gzodx commented on #46
Both serve or just to display to my image view or any of that sort it saves a new copy on my mobile

[2019-12-05 12:56] Dhaval2404 commented on #46
@gzodx It seems like your making uploading webservice call on onActivityResult method. Can you show some code please?

[2019-12-05 12:58] Dhaval2404 commented on #46
Only when it process image. i.e. compress or crop image. if you disable both thing it will not create copy.

[2019-12-05 12:58] gzodx commented on #46
yea definitely i am uploading to a web-service in this project onActivityResult

[2019-12-05 12:59] gzodx commented on #46
ok thanks
wow so i cant have those features and still keep same copy? any work around?

[2019-12-05 13:00] Dhaval2404 commented on #46
Try Simple ```ImagePicker.with(this).start()``` will not create new image.

[2019-12-05 13:03] gzodx commented on #46
Alight Thanks Soo much for your qucik response

[2019-12-05 13:08] #46 closed

[2019-12-11 08:43] ankitkanojia opened #47 "Plugin not worked with letest Android version(10)."
Library Works perfectly in the lower version but not work as expected with the latest version.

By the way good work, This Library helps me a lot.

Thank you.

[2019-12-13 07:01] Dhaval2404 commented on #47
Possible Duplicate of #38

[2019-12-13 07:01] Dhaval2404 commented on #47
@ankitkanojia Have you tried to set android:requestLegacyExternalStorage="true" in the android manifest. It's a must for API 29.

![68088859-1bafee00-fe89-11e9-81eb-e17b0d823bfc](https://user-images.githubusercontent.com/7314181/70776887-66842600-1da4-11ea-8287-2555da386c8f.png)

[2019-12-13 08:20] #47 closed

[2019-12-17 18:04] #44 closed

[2019-12-17 18:13] Dhaval2404 commented on #4
Duplicate of #43

[2019-12-17 18:13] #4 closed

[2020-01-06 12:17] DipakSharmaAgile opened #48 "Performing pause of activity that is not resumed"
I'm using this library for tablet app. I'm opening the camera by your method and clicking on back button it throwing the exception. and unable to go back.
`Performing pause of activity that is not resumed: {com.xxx/com.github.dhaval2404.imagepicker.ImagePickerActivity}
    java.lang.RuntimeException: Performing pause of activity that is not resumed: {com.xxx/com.github.dhaval2404.imagepicker.Image

[2020-01-06 18:23] #41 closed

[2020-01-06 18:24] #33 closed

[2020-01-06 18:24] #42 closed

[2020-01-06 18:26] Dhaval2404 commented on #48
@DipakSharmaAgile Can you please try once on the latest version(v1.6).

[2020-01-06 18:29] Dhaval2404 commented on #45
Duplicate of #17

[2020-01-06 18:29] #45 closed

[2020-01-06 18:54] Dhaval2404 commented on #40
It seems working fine with the below code:

![carbon](https://user-images.githubusercontent.com/7314181/71840707-e079a780-30e3-11ea-8a11-6193225e4e89.png)

[2020-01-07 04:11] DipakSharmaAgile commented on #48
Thanks,
It is fixed now, so I'm closing this issue.

[2020-01-07 05:02] Dhaval2404 commented on #48
@DipakSharmaAgile Thank you so much for the feedback..!!

[2020-01-07 06:46] #43 closed

[2020-01-07 09:38] DipakSharmaAgile commented on #48
I can go back to my screen when clicking on back button but. exception is still there and while perming this scenario in fragment it's getting crash and restarting the activity.

[2020-01-07 12:40] Dhaval2404 commented on #48
@DipakSharmaAgile Are you still getting **Performing pause of activity that is not resumed** exception?

[2020-01-07 12:46] DipakSharmaAgile commented on #48
Yes. I'm still getting it in v1.6

[2020-01-07 12:58] Dhaval2404 commented on #48
@DipakSharmaAgile Can you please send me a video of the issue? This will help me to better understand the issue. I have checked this scenario in the various devices (including Nexus 9 Tablet - Android 7.1.1) and it seems working fine.

Thank you again for the response. Your response is helping me to improve this library.

[2020-01-07 13:02] Dhaval2404 commented on #48
@DipakSharmaAgile Can you please try this sample app: [Sample App v1.6]( https://github.com/Dhaval2404/ImagePicker/releases/download/v1.6/ImagePicker-v1.6.apk)

[2020-01-08 04:28] DipakSharmaAgile commented on #48
Hello @Dhaval2404 ,
We cannot provide the video of our application and we tried your sample app in our tablet and it has exception too. let me share the device info and log here.

`2020-01-08 09:54:36.489 12627-12627/com.github.dhaval2404.imagepicker.sample E/ActivityThread: Performing pause of activity that is not resumed: {com.github.dhaval2404.imagepicker.sample/com.github.dhaval2404.imagepicke

[2020-01-08 05:19] ShankyPatel opened #50 "Saving images to a particular path"
Hi how do i save images to a particular path upon saving ?

[2020-01-08 05:22] Dhaval2404 commented on #50
@ShankyPatel That's not supported in the current version. I will add support in the upcoming release.

[2020-01-08 05:27] Dhaval2404 commented on #48
Thank you so much for the feedback @DipakSharmaAgile .

[2020-01-08 05:32] ShankyPatel commented on #50
Please do provide this functionality as you're already saving it so its better we could customise the path to save it to particular destination. Waiting for next release

[2020-01-08 05:32] #50 closed

[2020-01-08 10:52] ShankyPatel opened #51 "skip the image preview screen"
can we skip the image preview screen after capturing image ?

[2020-01-08 18:07] Dhaval2404 opened #52 "Add option to set Storage Directory"
In the current version, All images are stored in the camera folder(Environment.DIRECTORY_DCIM).

Need to add an option to allow developers to set a storage directory path along with crop and compress options.

[2020-01-08 18:12] Dhaval2404 commented on #50
#52

[2020-01-11 23:17] SergeyMilevskiy opened #53 "When I'm choosing camera, I'm getting crash below Android 8.0.0 Samsung S7"
[code]

[2020-01-13 07:56] SergeyMilevskiy commented on #53
For those who faced the same problem =>
Before start lib
`val builder = StrictMode.VmPolicy.Builder()
        StrictMode.setVmPolicy(builder.build())`

[2020-01-13 17:23] zeebikenav commented on #24
Im having the same issue also

[2020-01-17 09:35] DipakSharmaAgile commented on #48
@Dhaval2404
We added one line in Manifest
`android:configChanges="orientation|keyboardHidden|screenSize"`

still exception is there but that is not causing any issue. so I'm closing this bug.

[2020-01-17 09:35] #48 closed

[2020-01-21 10:26] OyaCanli opened #55 "FileProvider of the library clashes with the FileProvider of the app"
Hi! Thanks for this library, I have been using it for a while without any issues.

However recently, when I added a FileProvider to my app, it clashed with the FileProvider of the library. It failed to merge the manifest, telling that there is already a FileProvider for the same authority.

I found this thread on StackOverflow helpful:
https://stackoverflow.com/questions/43175014/possible-to-use-m

[2020-01-24 06:44] vwijaya03 opened #56 "Pick Image From Camera Sometimes Rotated"
How to handle image rotated if pick from camera ? thank you

[2020-01-29 06:18] programmergauravgupta commented on #40
Getting Error "Cannot Resolve Symbol Unit"

[2020-01-29 07:05] Dhaval2404 commented on #40
Try below import

[code]

[2020-02-03 01:02] jbienz opened #57 "Silent Failure to Pick - ClassNotFound vs ClassCast and AppCompatActivity"
In **ImagePicker.kt** **startActivity**, around line 299, there is the following code:

`if (e is ClassNotFoundException) {`

However, running Kotlin 1.3.61 and Java 1.8 the excption caught here is not a `ClassNotFoundException` it's a `ClassCastException`.

Because there is no other test for any other exception type in this handler, this method fails silently. To the developer, it appears that th

[2020-02-03 14:36] stanislavmilev5 commented on #32
I have the same issue, can you please provide a fix

[2020-02-05 01:09] makkhay commented on #24
I think this bug is an Android framework bug. I was working on retrieving URI after picking the image and I was facing the same issue. The weird part is, it only does that for pictures taken from camera.

[2020-02-05 05:20] lokeshmejangid opened #58 "manifest merge failed"
Hi,

My project is in java and I never added any kotlin library or file. Also my project is not on android X.
When I use this `implementation 'com.github.dhaval2404:imagepicker-support:1.5'` in gradle I am getting the following error

[code]

`

[2020-02-05 17:20] vitorhugods commented on #56
@vwijaya03 read about this in here: https://stackoverflow.com/questions/7286714/android-get-orientation-of-a-camera-bitmap-and-rotate-back-90-degrees

In short words, there are two ways of saving the image ragarding the rotation:
1) You can flip the Bitmap/PixelInformation itself, or
2) you can save it without rotating, and inform in the file's EXIF meta-data how to display it.

# Why?
Whoever did

[2020-02-07 12:30] #40 closed

[2020-02-08 16:34] pankajgurjar747 opened #59 "Unable to change color/icon of camera and gallery of selection dialog"
As i need to change the color or icon relative to our application theme, But its not possible in this library.

[2020-02-08 17:18] Dhaval2404 commented on #59
Add below color resource in your color.xml with your required colors.

[code]

[2020-02-09 18:10] pankajgurjar747 commented on #59
Ok thanks and for title of this dialog?

By the way thanks for your extra ordinary work....

[2020-02-10 04:19] Dhaval2404 commented on #59
Add the below line in string.xml file with the required text.

[code]

If you're looking for more such text changes. You can override resources from libs [strings.xml](https://github.com/Dhaval2404/ImagePicker/blob/master/imagepicker/src/main/res/values/strings.xml) files.

[2020-02-10 04:19] #59 closed

[2020-02-10 09:07] vitorhugods commented on #56
@Dhaval2404 what do you think about handling the EXIF rotation information when getting the image result?

I was wondering if this is handled already by the Crop/Compress. Which could lead to unexpected "sometimes it works, sometimes it doesn't" behaviours.

[2020-02-10 10:39] vwijaya03 commented on #56
@vitorhugods already tried ExifInterface but still not working as expected. I solved it using the crop function provided.

[2020-02-11 14:22] vitorhugods commented on #32
This seems to be device dependent. Or more specifically, dependent on the Camera App.
It is happening to me as well in the Android Emulator (29.3.7), but it does not happen on my LG G8S.

[2020-02-11 14:30] vitorhugods commented on #58
There are more messages before this stacktrace that will help you solve your issue. Notice the `see logs` part. If you need further help, please post these logs in here.

Manifest Merge errors happen when, for example, the library specifies something in the `AndroidManifest.xml`, and your app specifies something else. So, there's a conflict.

For example, I got one message saying that there was an

[2020-02-17 05:46] Dhaval2404 commented on #57
@jbienz  Thanks for pointing out the issue:

Currently, ImagePicker uses [InlineActivityResult](https://github.com/florent37/InlineActivityResult) to receive the activity result directly after the startActivityForResult. But as of now, [it doesn't work with Activity](https://github.com/florent37/InlineActivityResult/issues/3). I will mention this in READ.ME.

Also, ```imagepicker-support``` is bui

[2020-02-17 05:46] #57 closed

[2020-02-21 07:03] HNY11 opened #60 "change storage path and file name"
1. How can we change the path where images are stored.
2. It should also provide a feature to change the file name.
By default, it is storing in DCIM folder

[2020-02-24 15:06] kanczler commented on #41
Greetings! The camera still opens twice for me (only on my physical device, on emulators it's all right). Is there anything I could provide to help track down the issue?

[2020-02-27 13:30] vitorhugods commented on #32
After further investigation:

It only happens in a few devices (maybe it is Android 10+ related), and *only* when using InlineActivityResult.

I replaced InlineActivityResult with the old-fashioned approach, and it worked flawlessly.

[2020-03-02 11:49] saqibsoftwares commented on #3
Hi,
The is this feature is available now?

[2020-03-05 09:29] himphen opened #61 "Should catch NullPointerException in FileUriUtils.getPathFromRemoteUri()"
For some reasons, in `FileUriUtils.getPathFromRemoteUri()`, `FileUtil.getImageFile(context.cacheDir, extension)` returned null and null is passed into `FileOutputStream(@NonNull File file)`. In my case, user choose a file from `content://com.microsoft.skydrive.content.StorageAccessProvider`.

It may be caused `NullPointerException` and please consider checking file != null. Thank you.

[code]

[2020-03-08 02:06] NewtronLabs opened #62 "How to Change Theme"
Hello,

The library looks great! How can I change the theme of the Edit Photo? It is currently showing an orange title bar.

Thanks,
Newtron Labs Solutions Team

[2020-03-09 00:45] TheJuki commented on #62
The latest version: 1.6 provides color values you can override. I am using the following:

[code]

[2020-03-09 18:38] NewtronLabs commented on #62
Thank you @TheJuki!

[2020-03-10 08:44] angelkoh commented on #35
note that requestLegacyExternalStorage will be removed in Android 11.
you will need to go through stored media API to access images.

[2020-03-11 17:06] #62 closed

[2020-03-15 18:25] thefabbulus commented on #3
@Dhaval2404 thanks for the amazing job. This feature would be really appreciated!

[2020-03-17 16:00] JarnoVgr commented on #29
Any update on the support of Android 10 and higher?

Please note that scoped storage will most likely be mandatory on Android 11.

[2020-03-17 16:46] Dhaval2404 commented on #29
@JarnoVgr I'm planning to release it with v1.8. So It may take time(About a month). Currently, I'm working on v1.7.

[2020-03-23 18:07] #61 closed

[2020-03-23 18:08] #52 closed

[2020-03-23 18:08] #55 closed

[2020-03-25 16:48] Dhaval2404 commented on #60
@HNY11 v1.7 has option to specify storage path. Thanks

[2020-03-25 16:48] #60 closed

[2020-03-26 09:50] Dhaval2404 opened #66 "The application could not be installed: INSTALL_FAILED_CONFLICTING_PROVIDER"
ImagePicker FileProvider causing conflict when the library used in multiple applications. In the current version(v1.7), static file provider authority is used, Need to make it dynamic.

[2020-03-26 10:11] #66 closed

[2020-03-26 10:11] Dhaval2404 commented on #66
Issue resolved in v1.7.1

[2020-04-01 13:10] ilhamfidatama opened #68 "camera and gallery doesn't show"
I have already implemented

implementation 'com.github.florent37:inline-activity-result-kotlin:1.0.1'

on my gradle.
and this is my code
`ImagePicker.with(this)
                .compress(600)
                .start { resultCode, dataIntent ->
                    Log.e("image-picker", "picker start")
                    if (resultCode == Activity.RESULT_OK){
                        val imageUri = d

[2020-04-01 15:40] Dhaval2404 commented on #68
@ilhamfidatama Can you please try below code:

[code]

[2020-04-01 15:47] ilhamfidatama commented on #68
@Dhaval2404 I've tried it, but it didn't work

[2020-04-01 16:17] Dhaval2404 commented on #68
@ilhamfidatama Are you facing crash issue? Can you please help me with any error log?

[2020-04-02 09:42] ilhamfidatama commented on #68
my apps isn't crash, just didn't show my camera or gallery for taking picture.
I just got this from log

W/ActivityThread: handleWindowVisibility: no activity for token android.os.BinderProxy@eca3db3
I/Timeline: Timeline: Activity_launch_request time:43392283 intent:Intent { act=android.content.pm.action.REQUEST_PERMISSIONS pkg=com.google.android.packageinstaller (has extras) }

[2020-04-04 08:29] ilhamfidatama commented on #68
I solved it
it because I used permission to read and write storage on manifest. so I deleted it.

[2020-04-04 08:29] #68 closed

[2020-04-06 16:53] gd08xxx opened #69 "App crashes with activityNotFoundException camera app is disabled on the device"
Step 1) Disable camera app
Step 2) Select camera in the dialog
Step 3) Allow usage of camera
APP crashes with activity not found exception

[2020-04-06 17:19] Dhaval2404 commented on #69
@gd08xxx I will surely look into it.

[2020-04-06 17:25] reynoshsunny opened #70 "Free crop without choosing the predefined crop ratios"
Hello @Dhaval2404 .
I think currently there is no option for the free crop(drag the ends of the crop frame without selecting the predefined crop ratios). If it is there it would be better.
Thanks.

[2020-04-06 17:29] Dhaval2404 commented on #70
@reynoshsunny This is a very good suggestion. As of now cropping is handled by 3rd party lib uCrop and they are not supporting this feature.

[2020-04-08 09:15] VetonNeziri opened #71 "Image name"
Is there a way of changing the file name

[2020-04-08 12:09] Dhaval2404 commented on #71
@VetonNeziri As of now, It is not possible.
Thank you!

[2020-04-09 05:09] jshafer817 opened #72 "Go back to Gallery after Crop"
I have spent all day on this! Anyone lend me a hand? I want to go back to the gallery after choosing to crop the photo, instead of the main activity screen, in the sample.. How can i do that?

Something to do with the result code......

This project is very very cool!!

[2020-04-09 05:40] Dhaval2404 commented on #72
@jshafer817 Do you want to open crop image into the Gallery app or want to open the gallery app to pick another image?

[2020-04-09 05:43] jshafer817 commented on #72
@Dhaval2404 I just want to go back to the gallery app to pick another image. Thank you soooo much!

[2020-04-09 05:50] Dhaval2404 commented on #72
@jshafer817 Currently, ImagePicker doesn't support multiple images selection. But you can start the ImagePicker again using Gallary only option. After you receive crop activity result in your main activity.

[code]

[2020-04-09 08:27] jshafer817 commented on #72
@Dhaval2404 Thanks! I ended up making uCrop always return the filename so I could check it in my mainactivity onactivity result. Thank you!!!

        if (resultCode == Activity.RESULT_OK) {
            Bundle bundle = resultData.getExtras();
            if (bundle != null) {

                if (bundle.get("extra.file_path") != null)
                {
                    Log.d(TAG, "NOTNULL");

[2020-04-09 08:40] #72 closed

[2020-04-10 15:38] farmazon3000 commented on #41
I'm having [similar but completely different issue](https://github.com/osmdroid/osmdroid/issues/1549) - when "don't keep activities" is enabled, custom view's ```onDetach``` is called twice, maybe you have the same?

[2020-04-10 15:43] farmazon3000 opened #73 "LICENSE has AOSP in it "Copyright 2019, The Android Open Source Project""
See https://raw.githubusercontent.com/Dhaval2404/ImagePicker/master/README.md. Search for ```Copyright 2019, The Android Open Source Project```.

[2020-04-11 14:56] Dhaval2404 commented on #32
The issue is in InlineActivityResult lib. I have submitted a [pull request (https://github.com/florent37/InlineActivityResult/pull/13), Which is recently merged in their master branch.

[2020-04-13 10:23] SuketuMerchant opened #74 "Not Working when minifyEnabled is true"
When enable ProGuard its gone crash, tested on android 10, while creating release signed apk.

[2020-04-14 08:43] abdulmannanbutt opened #75 "why WRITE_EXTERNAL_STORAGE is important? can be removed?"
Hi,

I hope you are doing well.

I have used your library and it is awesome.

But I want to know why you need WRITE_EXTERNAL_STORAGE permission?

Can't the library use the internal/cache storage? in one of my projects, MVAPT/security team is asking to remove this permission (coz, they think, it is not required for the application). I checked and noticed that It is being merged in the manifest due

[2020-04-14 08:53] Dhaval2404 commented on #75
@abdulmannanbutt Thank you for the feedback.

WRITE_EXTERNAL_STORAGE no longer needed when we use internal/cache storage. I'm currently working on scope storage. Which will make storage permission absolute.

So in the next version permission will be removed. Thanks

[2020-04-14 11:18] abdulmannanbutt commented on #75
Awesome. Waiting for the next release then :)

[2020-04-14 13:29] nipuncs commented on #23
#### The issue is still there on some mobile phones. Only for downloaded images.

- v1.7.1
- Nokia 2 (Android 9)

**Stack trace**
`E/BitmapFactory: Unable to decode stream: java.io.FileNotFoundException: /storage/emulated/0/Download/image-1.jpg (No such file or directory)`

`java.lang.RuntimeException: Failure delivering result ResultInfo{who=null, request=65560, result=-1, data=Intent { dat=file:

[2020-04-14 17:08] Dhaval2404 commented on #75
@abdulmannanbutt I'm planing next release around the end of the month.

[2020-04-14 17:09] Dhaval2404 commented on #74
@SuketuMerchant Are you able to track any error logs?

[2020-04-17 17:57] hixfield commented on #53
I think I have the same problem. I'm getting a "System UI has stopped".
To simulate:
- Run in simulator SDK 26
- install my app (using this lib) from scratch (so that no permission for camera has been received yet)
- I press button to select a new profile picture (that is when I use the lib in my app)
- The pop-up appears to select between camera - library pictures (so far so good)
- Press camera

[2020-04-18 09:59] hixfield commented on #53
Since the problem happend in the simulator I created a new simulator configuration with Android pixel 2 and SDK 26. Here the problem is gone. I also found a lot of references to "system UI has stopped" (e.g. on SOV https://stackoverflow.com/questions/15678520/android-emulator-error-system-ui-has-stopped). This leads me to believe its probably an bug in the simulator itself...

[2020-04-19 00:31] leocorder opened #76 "ImagePicker without uCrop dependency"
First I would like to thank @Dhaval2404 and all the collaborators of this project. It has been very useful. But there is something that has been bothering me for some time.

Would it be possible to make available a version of this great library without the uCrop lib dependency?

Some people just need to select an image without cropping them. Others prefer to use some other thirty party library to

[2020-04-23 05:50] Dhaval2404 commented on #66
![](https://github.trello.services/images/mini-trello-icon.png) [No option to open front camera as default #10](https://trello.com/c/LMRrxE6o/22-no-option-to-open-front-camera-as-default-10)

[2020-04-23 05:50] Dhaval2404 commented on #10
![](https://github.trello.services/images/mini-trello-icon.png) [No option to open front camera as default #10](https://trello.com/c/LMRrxE6o/22-no-option-to-open-front-camera-as-default-10)

[2020-04-23 05:51] Dhaval2404 commented on #29
![](https://github.trello.services/images/mini-trello-icon.png) [Android 11 Scope Storage Support #29](https://trello.com/c/zOFKveQp/12-android-11-scope-storage-support-29)

[2020-04-23 05:53] Dhaval2404 commented on #69
![](https://github.trello.services/images/mini-trello-icon.png) [App crashes with ActivityNotFoundException camera app is disabled on the device #69](https://trello.com/c/oJzT6hrj/13-app-crashes-with-activitynotfoundexception-camera-app-is-disabled-on-the-device-69)

[2020-04-23 05:53] Dhaval2404 commented on #73
![](https://github.trello.services/images/mini-trello-icon.png) [LICENSE has AOSP in it "Copyright 2019, The Android Open Source Project" #73](https://trello.com/c/7ovboVjT/18-license-has-aosp-in-it-copyright-2019-the-android-open-source-project-73)

[2020-04-23 05:54] Dhaval2404 commented on #75
![](https://github.trello.services/images/mini-trello-icon.png) [Remove Storage Permission #75](https://trello.com/c/ZUlx0sli/16-remove-storage-permission-75)

[2020-04-23 18:13] #73 closed

[2020-04-23 18:16] #69 closed

[2020-04-24 22:24] spatenotte commented on #74
I believe I have stumbled upon the same issue, here are the logs:
![image](https://user-images.githubusercontent.com/5433694/80261556-993a0700-863f-11ea-8852-b4f6549b35e7.png)

[2020-04-25 08:37] Dhaval2404 commented on #74
@spatenotte Thank you so much for the error logs.

[2020-04-25 16:05] Dhaval2404 opened #77 "Upgrade ImagePicker-Support from v1.5 to v1.7"
Need to upgrade the ImagePicker-Support version from v1.5 to v1.7

It will include the following changes:

### Version: 1.6

  * Improved UI/UX of sample app
  * Removed Bitmap Deprecated Property [#33](https://github.com/Dhaval2404/ImagePicker/issues/33) (Special Thanks to [nauhalf](https://github.com/nauhalf))
  * Camera opens twice when "Don't keep activities" option is ON [#41](https://github.

[2020-04-25 18:15] Dhaval2404 commented on #58
The issue has been resolved in v1.7.1

[2020-04-25 18:15] #58 closed

[2020-04-25 18:15] #77 closed

[2020-04-25 18:27] Dhaval2404 commented on #76
@leocorder Thank you so much for the suggestions. I really like your suggestion. I will take this on priority after done with scope storage, which is scheduled to release next week.

I'm thinking of removing uCrop from the base library and creating add-ons, So for the user, It will be just adding a new gradle lib. This is just initial thought, Please Let me know if you have any better suggestions.

[2020-04-27 14:10] raghavsatyadev opened #78 "For inline ActivityResult use Google's new ActivityResultContracts"
I am providing a link for it here : [Inline Activity Result](https://developer.android.com/training/basics/intents/result#custom)

I have also made a helper class for you to use

**Usage** :
[code]

**Helper** :

[code]

[2020-04-27 16:19] spatenotte commented on #74
No problem, happy to help!

[2020-04-27 16:58] Dhaval2404 commented on #78
@raghavsatyadev Thank you so much!

[2020-04-28 10:50] z85510 opened #79 "Minimum SDK"
Can you decrease minSdkVersion to 17 in the next version?

Plenty of my users are using SDK 17 and for now, I have to download your library and change it myself

[2020-04-28 18:23] #75 closed

[2020-04-29 05:18] harishkandekar opened #80 "in Fragment the image preview bitmap is coming very late"
in Fragment the image preview bitmap is coming very late like it takes around 15-20 sec to apprear in preview after activity result

[2020-04-29 06:03] Dhaval2404 commented on #80
@harishkandekar You must have specified compression and the input image must be very large in size. Can you please provide additional info on this?

[2020-04-29 11:10] harishkandekar commented on #80
Actually In activity its working fine within seconds image appears but in fragment its taking too long

below is the code i am using in fragment

============================================
 ImagePicker.Companion.with( NormalRegistration.this )// this is fragment
                .cameraOnly()
                .compress( 1024 )
                .cropSquare()
                .maxResultSize( 1080, 108

[2020-04-29 11:30] Dhaval2404 commented on #80
@harishkandekar I suspect, It has nothing to do with library but your code in onActivityResult method.

Specifically this one,

[2020-04-29 11:56] harishkthedeveloper commented on #80
i removed above lines for bitmap , and tried to load directly file object using glide into imageview but still it is there

[2020-04-29 12:30] Dhaval2404 commented on #80
@harishkandekar Can you please share onActivityResult Code?

[2020-04-29 12:37] harishkandekar commented on #80
`@Override
    public void onActivityResult(int requestCode, int resultCode, @Nullable final Intent data) {
        super.onActivityResult( requestCode, resultCode, data );
        if (resultCode == Activity.RESULT_OK) {
            //Image Uri will not be null for RESULT_OK
            final Uri fileUri = data.getData();

            /*try {*/
                /*Bitmap bitmap = MediaStore.Images.M

[2020-04-29 12:38] Dhaval2404 commented on #80
@harishkandekar Code with the Glide?

[2020-04-29 12:39] harishkandekar commented on #80
File file =  new File( data.getData().getPath() );
            Glide.with( context )
                    .load( file )
                    .into( holder.userimage );

[2020-04-29 12:40] harishkandekar commented on #80
just this code i am using to load the image inside activity result in runOnUIthread

[2020-04-29 12:41] Dhaval2404 commented on #80
[code]
Also, Remove AsyncTask. It's of no use

[2020-04-29 12:42] Dhaval2404 commented on #80
Also, You don't need to do this
[code]
You can get file object as below:

[code]

[2020-04-29 12:42] harishkandekar commented on #80
Thank you so much , i will try and get back to you

[2020-04-29 13:34] harishkandekar commented on #80
its not getting solved , so i used normal camera intent with startavtivityresultfor method in fragment and the problem is solved.

[2020-04-29 13:34] #80 closed

[2020-05-04 17:38] #78 closed

[2020-05-04 18:43] OPunktSchmidt opened #82 "UCropActivity Crash Android 4.4 (KiKat)"
I'm not able to take a photo or pick a image from the gallery. Every time it crashes before the the Crop-Activity shows up. The camera opens but after the photo is taken the App crashes and no Crop-Activity shows up.

**Android Version:** 4.4
**Device:** x86 Emulator

**Logs:**

`Fatal Exception: java.lang.RuntimeException: Unable to start activity ComponentInfo{opunktschmidt.myapp/com.yalantis.uc

[2020-05-04 20:59] ArielFarias commented on #82
Same here!

[2020-05-06 00:10] hbb20 commented on #10
Any update sir?

[2020-05-06 04:30] hmeragon commented on #31
If you want to use this in Fragment, instead of use GetActivity(), use YourFragmentName.this
[code]

[2020-05-06 05:46] nobyali opened #83 "error: cannot access function2"
I cant use request code . it raises cannot access function 2 error..Any solution sir?

[2020-05-06 05:58] Dhaval2404 commented on #83
Looks like a duplicate of #40

[2020-05-06 06:03] Dhaval2404 commented on #83
Please use the Default Method over Inline Result:

![image](https://user-images.githubusercontent.com/7314181/81142463-5f48f900-8f8d-11ea-99eb-6ea4af95ed08.png)

Do check the README for more info

[2020-05-06 06:19] nobyali commented on #40
I cant import  these into java...sir please help. .i am fresher

[2020-05-06 06:26] nobyali commented on #83
I'm using default method...but cant use request code with this

[2020-05-06 06:53] Dhaval2404 commented on #83
What do you mean by  **cant use request code**. Can you please post error here?

[2020-05-06 07:13] nobyali commented on #83
its now resolved sir, thank you very much for this wonderful product..i just removed the inline support implementation...:)

[2020-05-06 07:13] #83 closed

[2020-05-12 10:20] dekanako opened #84 "select multiple images"
Hey can I select multiple images with the library ?

[2020-05-12 12:31] Dhaval2404 commented on #84
@dekanako No, This feature is not supported!

[2020-05-12 15:15] muazzam27 opened #85 "“Failed to create camera image file” when choosing camera or “failed to crop image” when choosing in the library"
The camera/choose picture function doesn’t work (“failed to create camera image file” when choosing a camera or “failed to crop image” when choosing in the library)

[2020-05-12 15:35] Dhaval2404 commented on #85
@muazzam27 Did you add android:requestLegacyExternalStorage="true" in manifest file.

[2020-05-13 01:05] dekanako commented on #84
Thank you

[2020-05-15 14:54] tgbmoseswebb commented on #23
I am getting the same issue as well on some devices.  Only causes issues when picking images from the "Download" folder.

ImagePicker.with(this)
            .start { resultCode, data ->
                if (resultCode == Activity.RESULT_OK) {
                    //continued work
                } else if (resultCode == ImagePicker.RESULT_ERROR) {
                    //error
                }

[2020-05-15 23:18] muazzam27 commented on #85
@Dhaval2404 thanks Issue is fixed.

[2020-05-15 23:18] #85 closed

[2020-05-17 21:46] tgbmoseswebb opened #86 "Issue When Selecting Images From 'Downloads' Folder On Some Devices"
The issue is still there on some mobile phones. Only for downloaded images.

- Library Version - 1.7.1
- Samsung A10

Stack trace
E/BitmapFactory: Unable to decode stream: java.io.FileNotFoundException: /storage/emulated/0/Download/image-1.jpg (No such file or directory)

java.lang.RuntimeException: Failure delivering result ResultInfo{who=null, request=65560, result=-1, data=Intent { dat=file:///

[2020-05-20 13:11] corrado4eyes commented on #86
had the same

[2020-05-20 17:23] Dhaval2404 commented on #86
@tgbmoseswebb @corrado4eyes Did you guys added android:requestLegacyExternalStorage="true" in manifest file?

[2020-05-20 17:38] tgbmoseswebb commented on #86
Yes I have added in manifest.

[2020-05-20 23:16] h4h13 opened #87 "Gallery app is not showing only file browsers are showing"
Hi guys, I'm I doing anything wrong here because below request only gives File browser where I can select images it doesn't shows any Gallery apps (Google photos, Stock Gallery app)
Tested in Two devices
1. Realme X2 Pro
2. POCO F1

[code]

[2020-05-21 05:02] Dhaval2404 commented on #87
@h4h13 ImagePicker is designed in such way to show File Browser only. I will explore option to show the Gallery app also.
Thanks

[2020-05-21 08:58] corrado4eyes commented on #86
Yes

[2020-05-21 09:45] h4h13 commented on #87
Thanks for the reply

[2020-05-21 11:37] corrado4eyes commented on #86
Tried on google pixel and the problem is not there

[2020-05-24 17:53] dadou181295 opened #88 "Change String?"
Hello, how can i override the String "Choose". please thanks :)

[2020-05-24 18:18] Dhaval2404 commented on #88
Add ```<string name="title_choose_image_provider">Choose</string>``` in your string.xml with desired text.

Please check this [link ](https://github.com/Dhaval2404/ImagePicker/blob/master/imagepicker/src/main/res/values/strings.xml)for string localization. You can override the string as per your need.

[2020-05-24 18:19] dadou181295 commented on #88
Thanks Boss ! :)

[2020-05-24 18:22] #88 closed

[2020-05-25 02:19] tgbmoseswebb commented on #86
Issue remains on Google Pixel 2 API 28 . Did you try on API 28 <?

[2020-05-26 21:47] corrado4eyes commented on #86
The huawei I mentioned is 24

[2020-06-03 12:11] Kreateyou opened #89 "!!! FAILED BINDER TRANSACTION !!! (parcel size = 1642552)"
I am getting this error after selecting any image
[code]

[2020-06-03 13:44] Dhaval2404 commented on #89
@Kreateyou Can you please provide device info with android version?

[2020-06-03 17:29] Kreateyou commented on #89
Android Version:10
Device: Huawei p30 lite model: MAR-LX1m

[2020-06-05 18:28] Dinosane2 commented on #40
https://github.com/kyonifer/koma/issues/98 was the solution:

The classes it can't find are parts of the Kotlin standard library. Since you're not using Kotlin, you'll need to adjust your project's dependencies to include the kotlin standard library manually. If you're using gradle, that looks something like this:

repositories {
    mavenCentral()
}

dependencies {
    compile "org.jetbrains.kotl

[2020-06-06 18:36] akhill4054 opened #90 "Could not find com.github.yalantis:ucrop:2.2.4."
While building the app I'm facing this issue (speaking of which, thank you for making this, I'm grateful):

Could not find com.github.yalantis:ucrop:2.2.4.
Searched in the following locations:
  - https://dl.google.com/dl/android/maven2/com/github/yalantis/ucrop/2.2.4/ucrop-2.2.4.pom
  - https://jcenter.bintray.com/com/github/yalantis/ucrop/2.2.4/ucrop-2.2.4.pom
Required by:
    project :app > com

[2020-06-12 00:06] freddie0 opened #91 "The first image taken from the camera the app dies, then works well. Android"
I'm getting this when the first image is taken from camera. Android 8.1.0

`2020-06-11 10:07:38.513 1261-1975/? E/MtkPhoneIntfMgrEx: [setWifiSignalLevel] pheonId:0, rssi:-55, snr:60
2020-06-11 10:07:39.661 3395-3395/? E/AndroidRuntime: FATAL EXCEPTION: main
    Process: com.android.camera, PID: 3395
    java.lang.SecurityException: Permission Denial: opening provider com.github.dhaval2404.imagepic

[2020-06-12 11:06] FarshidABZ opened #92 "Opening Gallery or Camera Twice"
I've seen someone fixed it, but the pull request doesn't accept.
Could anyone solve this problem?

[2020-06-12 14:04] Dhaval2404 commented on #92
@FarshidABZ  Use Default method instead of InlineActivityResult. The issue seems to be in InlineActivityResult not in ImagePicker.

[2020-06-14 19:18] Dinosane2 opened #93 "Poor image quality"
Even without set .compress() or setting .compress(0) the image resulting looks like it WAS indeed compressed.

Digging I found out that this happens due to CompressionProvider.kt:172 which compress 10% of any jpg without had been instruct to !

There are any reason to this?

        // Check file format
        var format = Bitmap.CompressFormat.JPEG
        var quality = 90
        if (file.absol

[2020-06-15 05:55] Dhaval2404 commented on #93
@Dinosane2 Good Finding buddy, I will make it 100.
Thank you!

[2020-06-18 00:08] akhileshsharma opened #94 "No option to specify Saved image extension to png etc. it always saved as JPG"
Currently when Crop and or compress used or with Camera images there is no option to provide desired image extension while getImageFile method of fileUtils have scope for specifying file extension to save file with desired file extension.  Please fix and update.

Its a great library and I guess few more small and quick fixes will make it better.

[2020-06-20 01:01] akhileshsharma commented on #94
It would be great if just like .saveDir() can include options like .saveFileName() and .saveFileExt()
For .saveFileExt() option values can be restricted to .jpg, .png, .bmp, .jpeg

[2020-06-21 11:41] ashishkumawat opened #95 "There must be feature of Crop image of already provided URI."

[2020-06-25 23:19] cepero91 commented on #29
thanks, I'm also facing with this issue

[2020-06-30 17:30] #93 closed

[2020-07-07 10:50] baransagis commented on #90
Did you add the maven { url "https://jitpack.io" } repository? If so where did you add it?

[2020-07-07 17:29] dphans opened #96 "[Request Features] Add mutiple images."
Hope this library support picking multiple photos, of course that image editing will be disabled when multiple is enabled.

[2020-07-11 16:57] Dhaval2404 commented on #18
This issue has been closed because it has not had recent activity. Thank you for your contributions.

[2020-07-11 16:57] #18 closed

[2020-07-11 17:00] Dhaval2404 commented on #84
Duplicate of #3

[2020-07-11 17:00] #84 closed

[2020-07-11 17:01] Dhaval2404 commented on #96
Duplicate of #3

[2020-07-11 17:01] #96 closed

[2020-07-12 16:43] Dhaval2404 commented on #82
The issue has been resolved in uCrop v2.2.5. These changes will be reflected in v2.0. Thank you!

[Upgrade uCrop to v2.2.5](https://github.com/Dhaval2404/ImagePicker/commit/c9479991da9cf3314c47bfe3c92489405810b6c1)

[2020-07-12 16:43] #82 closed

[2020-07-12 18:42] Dhaval2404 commented on #32
[Pull Request](https://github.com/florent37/InlineActivityResult/pull/13) has been merged, So upgrading Gradle for the fixes.

[2020-07-13 19:04] #32 closed

[2020-07-13 19:04] #92 closed

[2020-07-14 15:54] Dhaval2404 commented on #90
Maven repo required in the project build.gradle

[code]

[2020-07-14 15:54] #90 closed

[2020-07-17 17:55] #94 closed

[2020-07-18 09:45] akhileshsharma commented on #94
Wow great! its superfast. I will check it out, hopefully it will fix the issue I am facing.

Thanks a ton bro!

________________________________

"NATION FIRST, JAI HIND"
http://www.innovativebusinessworld.com<http://voicemycampaign.com/join/campaign1>

________________________________
From: Dhaval Patel <notifications@github.com>
Sent: Friday, July 17, 2020 11:26 PM
To: Dhaval2404/ImagePicker <Im

[2020-07-18 14:15] Dhaval2404 commented on #94
@akhileshsharma I have not released a version yet! Hopefully today or tomorrow I will release a new version after thorough testing.

Thank you!

[2020-07-18 16:00] akhileshsharma commented on #94
Yes @Dhaval2404 noticed. Looking forward.

[2020-07-18 18:06] Dhaval2404 commented on #94
@akhileshsharma Please check out the latest version. Thank you so much for reporting the issue.

[2020-07-18 19:02] Mr-Ramzan opened #100 "Failed to resolve: com.github.yalantis:ucrop:2.2.5"
I have a project this lib is working like a charm.
on a new project, this error pops up failing the Gradle build

           "Failed to resolve: com.github.yalantis:ucrop:2.2.5"

Minimum Sdk version is 16,
Max to the latest.

[2020-07-18 21:42] akhileshsharma commented on #94
Great! Thanks.

[2020-07-19 06:06] Dhaval2404 commented on #100
@Mr-Ramzan Please make sure, you have the following in project build.gradle file

[code]

[2020-07-19 10:49] umairrmustafa opened #101 "HOW TO CHANGE TOOLBAR TITLE COLOR!"
Hi there, I am not able to change the Toolbar text color.

[2020-07-20 04:24] lobothijau opened #102 "Click Listener on Cancel, Camera, and Gallery"
Is it possible to listen to cancel button, camera and gallery button?

[2020-07-20 04:35] Dhaval2404 commented on #102
@lobothijau You can listen to Camera and Gallery Button Click:

ImagePicker.with(this)
                // Intercept selected ImageProvider
                .setImageProviderInterceptor { imageProvider ->
                        // imageProvider will be either ImageProvider.GALLERY or ImageProvider.CAMERA
                }
                .start()

[2020-07-20 08:40] #102 closed

[2020-07-25 12:34] kibotu commented on #89
well parcel size is capped at 10MB (1642552 bytes), dunno what we parcel that could be so huge

[2020-07-25 12:38] kibotu commented on #79
you can use tools override in manifest

`<uses-sdk tools:overrideLibrary="packagename" />`

https://stackoverflow.com/a/27310430/957370

[2020-07-28 10:38] pintuag commented on #3
Hi,
The is this feature is available now?

[2020-07-28 11:50] Dhaval2404 commented on #3
@pintuag Not Yet 😞

[2020-07-30 15:31] shiesteh opened #104 "java.lang.RuntimeException: Canvas: trying to draw too large(192000000bytes) bitmap"
**Hi, When selected large image size(20MB) the app crashed and force closed.**
**java.lang.RuntimeException: Canvas: trying to draw too large(192000000bytes) bitmap**

2020-07-30 19:59:32.916 19410-19410/ir.nozhin.nozhin E/AndroidRuntime: FATAL EXCEPTION: main
    Process: ir.nozhin.nozhin, PID: 19410
    java.lang.RuntimeException: Canvas: trying to draw too large(192000000bytes) bitmap.

[2020-08-01 15:10] saqibsoftwares opened #105 "Changing image formats (PNG to JPG) itself"
Hi,
The library is changing selected PNG image into JPG image itself when `.maxResultSize` and `.compress` functions are used with the Companion.

`ImagePicker.Companion.with(this).galleryOnly().maxResultSize(Globals.MAX_IMAGE_WIDTH, Globals.MAX_IMAGE_HEIGHT).compress(Globals.MAX_IMAGE_SIZE_KB).start`

Is there any way to keep the original format?

[2020-08-01 17:05] Dhaval2404 commented on #105
@saqibsoftwares Have you tried in v1.7.3? I think the issue is resolved in this version. Please let me know if the issue still persists.

`implementation 'com.github.dhaval2404:imagepicker:1.7.3'
`

[2020-08-01 18:20] saqibsoftwares commented on #105
Thank you for replying.
Unfortunately the problem is still. I updated to 1.7.3 and tried it again same results. I cleaned my android studio project then built it again still the same problem.

Here is the file name which I'm giving it as source file:
`/storage/emulated/0/Download/face-png-vladimir-putin-face-png-image-1645.png`

Here is the new file name it returning after compressing/resizing:
`/

[2020-08-01 19:16] saqibsoftwares commented on #105
I tried to dig into the library to provide you more information,

inside CompressionProvider class there is a method called `startCompression`
`private fun startCompression(file: File): File? {` used to compress the provided PNG image file. It called multiple times until we got our desired compress size. Inside this method on the following line
`newFile = applyCompression(file, attempt)`
When the

[2020-08-02 12:45] Dhaval2404 commented on #105
@saqibsoftwares Thank you so much for the detailed information. I will get back to you shortly. I really appreciate you putting your effort behind improving this lib. This will be helpful to lots of Users.
Thank you again!

[2020-08-02 12:57] saqibsoftwares commented on #105
Don't thank me. What I did is nothing as compared to what you have done for all of us by creating this amazing library. Just one more request that please add `Max File Size` option just like you have added `mime type` option. This should disable all the images in selection list those are greater than allowed file size.

[2020-08-02 13:26] Dhaval2404 commented on #105
@saqibsoftwares I have fixe the issue now. You can verify the changes in v1.7.4. Thank you!

[2020-08-02 13:26] #105 closed

[2020-08-02 14:20] saqibsoftwares commented on #105
Thanks a lot. Confirmed. Issue has been resolved in v1.7.4.

[2020-08-07 16:11] Lionertic opened #107 "on selecting image in gallery my activity gets destroyed"

[2020-08-10 10:53] angelolloqui opened #108 "ImagePicker.RESULT_ERROR not valid when combined with InlineActivityResult"
I am using this library together with InlineActivityResult dependency.

However, when the user rejects permissions, I see the code in ImagePicker calling the `setError` handler into `ImagePickerActivity`, but that error is never returned to the lambda provided with the `imagePicker.start { resultCode, data ->`

Digging into the code, I see this part in `ImagePickerActivity`:

[code]

and this in t

[2020-08-10 11:00] Dhaval2404 commented on #108
@angelolloqui Thank you for the detailed analysis! I will soon fix the issue!

[2020-08-10 12:13] DkKhan786 opened #109 "Having issue in fragment"
Hi i am using this library in my project and it's working perfect in Activity but in fragment i am facing issue issue
onActivityResult not working can you help?

[2020-08-10 12:22] Dhaval2404 commented on #109
@DkKhan786 Sure, Did you pass activity object in ImagePicker?

`ImagePicker.with(this)`

Here this refers to a fragment when used in Fragment Class. I belive you have used `ImagePicker.with(getActivity())` or `ImagePicker.with(requireActivity())`.

[2020-08-10 12:25] DkKhan786 commented on #109
Yes i have pass
ImagePicker.with(FragmentName.this)

[2020-08-10 12:31] DkKhan786 commented on #109
[code]
i have removed your condition so its working is it correct?

[2020-08-10 12:43] Dhaval2404 commented on #109
This looks correct? Are you getting any error on logcat?

[2020-08-10 13:38] DkKhan786 commented on #109
No i have change it like now its working when i put condition it's not working
[code]

[2020-08-10 17:20] Dhaval2404 commented on #107
@Lionertic This is the expected behavior of the app when working on low memory. You need to work on saving the UI state.

Please refer this: [saving-states](https://developer.android.com/topic/libraries/architecture/saving-states)

[2020-08-10 17:20] #107 closed

[2020-08-10 17:21] Dhaval2404 commented on #109
@DkKhan786 This is strange behavior. Can you debug what is the value of **resultCode** when onActivityResult called?

Thank you!

[2020-08-11 07:53] DkKhan786 commented on #109
**My Code when Image Picker Call**

[code]

**On Activity Result Code**

[code]

**And Code i am getting**

Request Code = 2404
Result Code = -1

[2020-08-11 15:02] hasansidd opened #110 "com.github.dhaval2404.imagepicker.provider.CropProvider.<init>(CropProvider.kt:45)"
I am seeing a few of these pop up on my crashlytics. I see the user is using xposed, but don't have much data on what they are doing to cause this. Looks like activity.intent.extras is being force unwrapped, would it be possible to gracefully fail if it is null?

Caused by kotlin.KotlinNullPointerException
       at com.github.dhaval2404.imagepicker.provider.CropProvider.<init>(CropProvider.kt:45)

[2020-08-16 10:30] somesh-ss opened #111 "Toolbar Text and Buttons color"
Is there any color resource value that can be use to change the color of the text on the tool bar and the tick/cross button?
If there is no such value already could you please add one and let me know how I could achieve it?

[2020-08-18 09:08] EleshBaraiya opened #112 "Can you add free hand cropping ?"
I want to freehand cropping so need to just add one line codding in your code setFreeStyleCropEnabled(true)

[2020-08-19 19:25] shree-vastava opened #113 "Same image in 2 imageviews"
If I have 2 imageviews in same screen, how shall I identify in onActivityForResult, since it always returns same request code.
So If I have two imageviews in same screen and I pick and image, same image is shown in both imageviews.

[2020-08-20 05:11] Dhaval2404 commented on #113
Please check customization section of ReadMe:

![image](https://user-images.githubusercontent.com/7314181/90719307-a5726000-e2d1-11ea-8ca3-d741dc6ae5f4.png)

[2020-08-20 05:11] #113 closed

[2020-08-24 16:31] isaiasmac opened #114 "Feedback or callback when use compress method"
When I use the compress method like:
[code]

When I select the image and go back to the activity, the image start to compress and when it finished the method onActivityResult calls, so I have no way to know when start and finish to compress.

Any way to know when start and finish the compress method ?

[2020-08-29 18:23] Dhaval2404 opened #115 "Need to add polish translation"
[Marcel Kijanka](https://github.com/MarcelKijanka) has provided the polish text translation which needed to integrate into lib.

    <string name="title_choose_image_provider">Wybierz</string>
    <string name="action_cancel">Anuluj</string>
    <string name="title_gallery">Galeria</string>
    <string name="title_camera">Aparat</string>

    <string name="image_picker_provider_authority_suffix">.

[2020-08-30 17:11] Dhaval2404 opened #116 "java.lang.IllegalArgumentException: Failed to find configured root that contains /data/data/com.imagepickersampleapp/files/*"
[code]

[2020-08-30 17:28] #116 closed

[2020-08-30 17:28] #115 closed

[2020-09-01 06:12] DostonbekIbragimov opened #118 "help me?"
Cannot create directory C:\Users\acer\.gradle\caches\transforms-2\files-2.1\feb869820904a536767768e68f48f40c\versionedparcelable-1.1.0-runtime

[2020-09-01 06:42] Dhaval2404 commented on #118
@DostonbekIbragimov This doesn't seem like the ImagePicker issue. Please consider adding a question on StackOverflow.

[2020-09-03 03:14] iusama46 opened #119 "Dark Mode"
Hello, Add Dark mode support in Dialog

[2020-09-03 03:49] Dhaval2404 commented on #119
@iusama46 Dark Mode is already supported in Dialog? Are you facing any issue here?

[2020-09-03 09:56] iusama46 commented on #119
Camera/Gallery icon & text does not look good. Is there any way to change text & icon color for dark mode?

[2020-09-03 13:24] Dhaval2404 commented on #119
@iusama46 Please add below resource in your values-night color resources:

    <color name="dialog_choose_icon_color">#757575</color>
    <color name="dialog_choose_text_color">#757575</color>

[2020-09-03 13:45] iusama46 commented on #119
Okay,Thanks

[2020-09-03 13:46] #119 closed

[2020-09-03 14:51] wazeem910 opened #120 "How can I changed the Folder location"
it is always choose
storage/emmulated/DCIM.......
How can i change this ?
Plus if i get the file path how can i send it to server ?

[2020-09-03 16:59] Dhaval2404 commented on #120
@wazeem910 You can specify the store directory by saveDir method.

[code]

[2020-09-08 06:56] balasubramaniam opened #121 "Exif data information is lost"
Can u please let me know to how to retain exif information after compressing the image

[2020-09-09 13:41] guy-4444 opened #122 "Crash on the cropping page when taking high resolution images (64MP)"
I try to take a picture from the camera but when I take 64mp picture it crash on the cropping page.
i try with the same device with front camera (32MP), everything ok.

Guy.

[2020-09-14 11:44] DeveloperAsh opened #123 "Failed to crop..issue"
When select image from gallery then try to select ..getting toast of Failed to crop and get closed intent.

-----How i call
 ImagePicker.Companion.with(AddCategoryUi.this)
                        .compress(1024)			//Final image size will be less than 1 MB(Optional)
                        .crop()
                        .start();

----Dependency
implementation 'com.github.dhaval2404:imagepicker-su

[2020-09-14 17:11] Dhaval2404 commented on #123
@DeveloperAsh What is your targetSdkVersion?

[2020-09-14 18:38] assembleMHN opened #124 "Translations, how to change texts to more languages"
Hi.

Thank you for a nice componant, i have now implemented it in our project but can see that it only support english and polish, how to i get the UI controls so i can change the text from the projects own language file, or add more languages ? Two languages are very limiting i hope you can help me out 👍

Thank you very much

Best Regards
Morten

[2020-09-15 10:15] appukrb opened #126 "unfortunately documents has stopped in android M"
I am using Android 6.0.1, I have only gallery in my OS, I am getting following error in it **"Unfortunately, Documents has stopped"** error dialog in my OS and cancelled was received in onActivityForResult().

[2020-09-16 18:27] #120 closed

[2020-09-16 21:11] chandmohd commented on #29
Any Update on android 10 or higher ?
Your apis never return to onActivityResult(...) after taking picture
I have enables `android:requestLegacyExternalStorage="true"` but does not work

[2020-09-19 16:49] iusama46 opened #127 "Issue saving in cache"
An issue in saving the image in the cache directory. using saveDir()

` java.lang.RuntimeException: Failure delivering result ResultInfo{who=@android:requestPermissions:, request=4282, result=-1, data=Intent { act=android.content.pm.action.REQUEST_PERMISSIONS (has extras) }} to activity {com.xpkian.plantix/com.github.dhaval2404.imagepicker.ImagePickerActivity}: java.lang.IllegalArgumentException:

[2020-09-27 13:51] manojppatil opened #128 "Code for onActivityResult() method in java"

[2020-09-28 05:27] AbhishekDere commented on #120
This Does not work in Java, please help!

[2020-09-28 06:12] Dhaval2404 commented on #120
@AbhishekDere Can you explain what is not working for you? I'm here to help you!

[2020-09-28 06:16] AbhishekDere commented on #120
Hey, Thanks for the Reply. The problem is with my Java thing. Whener I use onlyCamera function, I place the .saveDir(new File(Environment.getExternalDirectory(),"Folder123"))
This Creates the Folder123 but it does not save the image.

[2020-09-28 06:29] Dhaval2404 commented on #128
@manojppatil Here is the Code for Java. Let me know if you need anything else. Thank you!

[code]

[2020-09-28 06:29] #128 closed

[2020-09-28 06:44] Dhaval2404 commented on #120
@AbhishekDere Thank you for the quick reply. I will get back to you before the end of day.

[2020-09-28 06:45] Dhaval2404 commented on #120
@AbhishekDere Can you please tell me which ImagePicker version you're working on?

[2020-09-28 06:47] AbhishekDere commented on #120
1.7.5

[2020-09-28 18:39] Dhaval2404 commented on #120
@AbhishekDere Can you please try this code:

[code]

[2020-09-29 03:18] AbhishekDere commented on #120
Cool, thanks for the snippet! Really Appreciate it

[2020-10-09 00:02] hbb20 commented on #122
It will be better to address this sooner since new devices are having high res camera. May be it's a not really an issue of this library though since it uses other library for crop.

[2020-10-09 00:11] hbb20 commented on #122
Compressing before sending to the image cropper might be an effort that can be done from this library.

[2020-10-09 05:03] Dhaval2404 commented on #122
@hbb20 I will try to fix this over the weekend. Thank you so much for the hint.

[2020-10-15 05:57] jp-eagle opened #130 "mime type problem in Android R (11, API 30)"
I got issue in Android R when I tried to set mime type as video and audio. using galleryMimeTypes().

  the below code, works well in Android Q (10, API 29) and below, it is able to show video and audio files only. but it won't work in Android R (11, API 30), it shows photos only, not doesn't show video and audio files.
[code]

the part of Manifest is below,
[code]

the part of gradle file is belo

[2020-10-15 06:16] ashishgupta-kiwi opened #131 "[Request Features] Add mutiple image selection from gallery"
Hi Please add this feature

[2020-10-23 18:07] MrAndroi opened #132 ""faild to crop image""
i have a problem when i select image from camera or gallary its shows a toast "faild to crop image"

[2020-10-23 18:11] Dhaval2404 commented on #132
@MrAndroi Can you please provide more detail on the issue? Are you testing on Android 10 or 11?

[2020-10-23 18:16] MrAndroi commented on #132
yes android 10

[2020-10-23 18:29] Dhaval2404 commented on #132
Did you add **android:requestLegacyExternalStorage="true"** in manifest?

![image](https://user-images.githubusercontent.com/7314181/97040511-ac487800-158b-11eb-859f-917a819294bb.png)

[2020-10-24 08:05] MrAndroi commented on #132
oh yea thank you its work after i add it

[2020-10-24 17:47] #132 closed

[2020-10-25 12:48] rommansabbir commented on #131
For client requirement purpose, I'm using this library. It would be better if provide mutilple image seclection with crop feature.

[2020-10-27 16:29] gab07 commented on #124
Hi, you can add this to your **strings.xml** files to translate the cropping title.

`<string name="ucrop_label_edit_photo">Edit Photo</string>`

For the picker dialog you can override strings in this [file](https://github.com/Dhaval2404/ImagePicker/blob/master/imagepicker/src/main/res/values/strings.xml). Just add the name of the strings that you want to translate in your **strings.xml** files

#

[2020-10-28 03:11] enpboss commented on #75
How to mention internal storage in save directory?

[2020-10-28 04:40] Dhaval2404 commented on #75
@enpboss Can you please explain in detail?

Normally, This will store the image in your app-specific directory

[code]

[2020-11-05 07:52] faiz786 opened #134 "image picker opening default front camera"
image picker is by default opening front camera in use camera only mode

[2020-11-05 22:17] hbb20 commented on #122
Hey, this might be helpful to you. Looks like [2.2.6 of uCrop](https://github.com/Yalantis/uCrop/issues/648#issuecomment-681890665) has this fixed. So uCrop update from 2.2.5 to 2.2.6 in this project should fix this.

[2020-11-05 22:33] hbb20 commented on #122
FYI: I added 2.2.6 of uCrop in addition to imagepicker in my project and it worked for high res images. So may be that's all you will need to do.. update uCrop from 2.2.5 to 2.2.6 👍

[2020-11-12 14:09] habbasi-rsc opened #135 "Feature request: Allow to pass UCrop Options"
It's possible to customize ucop: https://github.com/Yalantis/uCrop/blob/1a7653e102414d805ff13095efb049f95de594f1/README.md#customization

Let us pass ucop options to its builder.

I'm looking for choose whether I want rectangle or oval crop area.

[2020-11-13 15:43] #135 closed

[2020-11-16 14:48] yamin8000 opened #136 "image picker saves picture every time"
image picker saves picture every time I select and compress a picture, is there anyway to prevent it from saving pictures or auto-delete them?

[2020-11-18 13:38] batadamnjanovic commented on #94
@Dhaval2404
So, can we change an extension of a file?
Example: If an image is .png, I want to change it to .jpg.

[2020-11-18 18:17] Dhaval2404 commented on #94
@batadamnjanovic As of now, We can't do that in lib.

[2020-11-21 17:23] wonderid commented on #75
how to prevent saving the image to gallery? because I don't need to save it after choose a picture

[2020-11-21 17:56] Dhaval2404 commented on #75
@wonderid You can provide a directory to save your images. You can also delete the images after the usage if that your requirements.

[2020-11-30 02:10] reizamv opened #137 "how to make different request code in every call of image picker"
i need to implement 4 image picker with different request code for activity result can you help me

[2020-11-30 03:55] Dhaval2404 commented on #137
@reizamv You can specify the request code with the ImagePicker start method

![image](https://user-images.githubusercontent.com/7314181/100567185-ebd25480-32ed-11eb-99f9-f18362e6a5fb.png)

[2020-11-30 03:55] #137 closed

[2020-12-04 07:43] ajinkyaw opened #138 "I have three imageviews on some devices selecting one image disappears other selected images in other imageviews."
I am capturing images using the following code

     ImagePicker.Companion.with(NewCustomActivity.this)
                            .compress(300)
                            .cameraOnly()
                            .start(1);

the request code in start(request code) is different for all three imageviews.
then i process them using the below code.

   if (requestCode == 1) {

                    F

[2020-12-04 16:10] hitesh-dhamshaniya commented on #138
You did not face this issue for every device, right?
Can you please provide device make and model, it would be a great help to debug and reproduce the issue.

[2020-12-05 12:17] Dhaval2404 commented on #138
@ajinkyaw I guess you're facing a low memory issue in some devices you mentioned. You can reproduce this scenario for all devices by enabling **Don't keep activities** from the Developer options.

You might want to save your activity state using ```onSaveInstanceState```. Here is a good example to start with: [how-to-use-onsavedinstancestate-example-please](https://stackoverflow.com/questions/6525

[2020-12-14 19:09] ThanosFisherman commented on #29
`android:requestLegacyExternalStorage="true"` won't work anymore from Android 11 and above see [here](https://stackoverflow.com/questions/63364476/requestlegacyexternalstorage-is-not-working-in-android-11-api-30)

[2020-12-16 09:13] safiyaAkhtar06 opened #139 "issue in one plus 8 device when clicking image app hangs"

[2020-12-18 06:03] #118 closed

[2020-12-18 06:29] #121 closed

[2020-12-18 06:33] Dhaval2404 commented on #79
As of now, ImagePicker already provides support for 98.1% of the devices. Sorry, But I will continue to provide support for Android 5.0 and up.

![image](https://user-images.githubusercontent.com/7314181/102582434-989f3500-4128-11eb-9a60-04f9ead6e68c.png)

[2020-12-18 06:33] #79 closed

[2020-12-18 07:36] #122 closed

[2020-12-18 07:36] #104 closed

[2020-12-18 14:44] Dhaval2404 commented on #130
Haha, I didn't know that the ImagePicker can also be used to Pick Audio & Video files. Just gave it a try on Android 11 and It seems to be working fine. I have tested in Pixel 2 Emulator(API 30). I will check this on other devices just to verify the issue.

Sorry for the late reply.

[2020-12-18 14:54] Dhaval2404 commented on #130
I have tested in Pixel 4a (with Android 11, API 30) and It's working fine. Please let me know the device to reproduce the issue. Looking forward to your reply. Thank you!

[2020-12-18 15:02] Dhaval2404 commented on #124
Needed help to translate string resource in a different language. Looking forward to community contributions.

[2020-12-18 18:37] #110 closed

[2020-12-19 12:39] Dhaval2404 opened #141 "Add dialog dismiss listener"
Add a helper method to allow the creator of a dialog to run some code when the dialog is dismissed.

[code]

Credit: @kibotu  #103

[2020-12-19 12:40] #141 closed

[2020-12-19 12:48] Dhaval2404 commented on #101
**Toolbar Icon & Text Color:**
[code]

**Toolbar Background Color:**
[code]

**Statusbar Color:**
[code]

![Screenshot_1608381911](https://user-images.githubusercontent.com/7314181/102689750-83103500-4226-11eb-9f12-685ac6f664a2.png)

[2020-12-19 12:48] #101 closed

[2020-12-19 12:50] Dhaval2404 commented on #111
**Toolbar Icon & Text Color:**
[code]

**Toolbar Background Color:**
[code]

**Statusbar Color:**
[code]

![Screenshot_1608381911](https://user-images.githubusercontent.com/7314181/102689750-83103500-4226-11eb-9f12-685ac6f664a2.png)

[2020-12-19 12:50] #111 closed

[2020-12-19 13:42] Dhaval2404 commented on #131
Duplicate of #3

[2020-12-19 13:42] #131 closed

[2020-12-19 15:23] Dhaval2404 commented on #136
@yamin8000 This looks like a project-specific requirement. The thing, I will recommend is to delete the picture after your use case has been fulfilled.

For example, If you're using this library for uploading profile image. You can delete the image after you get a successful response from API calls. The only thing you need to take care of is to check the image source before delete. Make sure that

[2020-12-19 15:23] #136 closed

[2020-12-19 15:24] Dhaval2404 commented on #134
Duplicate of #10

[2020-12-19 15:24] #134 closed

[2020-12-21 07:57] #127 closed

[2020-12-21 13:25] #51 closed

[2020-12-21 14:05] Dhaval2404 commented on #104
Duplicate of #122

[2020-12-21 14:05] Dhaval2404 commented on #110
Duplicate of #122

[2020-12-21 14:46] #86 closed

[2020-12-21 14:46] #123 closed

[2020-12-22 14:39] #16 closed

[2020-12-23 23:19] krajzler opened #143 "Camera doesn't show"
If I want to select image from camera, nothing happens. I tried on two different ways:

[code]
Nothing happens if I click on Camera button. And:
[code]
Nothing happens at all. There is also nothing in logs.

I'm using Google Pixel 3 Android 11 (API 30).

[2020-12-24 14:25] Dhaval2404 commented on #143
@krajzler Thank you so much for reporting the issue.

Today, I've tried to reproduce the issue using the given code but it seems to be working fine on my end. Here is the video for reference: [Sample Emulator Video](https://user-images.githubusercontent.com/7314181/103093592-cbfa2c00-4620-11eb-9f50-914868d005d3.mp4)  and  [Sample Pixel 4a Video](https://user-images.githubusercontent.com/7314181/10

[2020-12-27 19:29] kdani41 opened #144 "Ques: Customize Dialog appearance"
Hi,

Thanks for making & maintaining this library.

![button-color-issue](https://user-images.githubusercontent.com/7985118/103178161-64292880-484e-11eb-8c81-0489e9a02131.png)

[2020-12-28 06:38] Dhaval2404 commented on #144
@kdani41 If you want to change color, You can use the below resource in your color.xml [#59](https://github.com/Dhaval2404/ImagePicker/issues/59)

[code]

The customization option is not available. Here, I will suggest creating a dialog as per your preference and call the ImagePicker method on submit action. Here is the sample code to get you started!

[code]

Usage:
[code]

[2020-12-28 07:20] kdani41 commented on #144
Make sense thanks for the prompt reply.

[2020-12-28 07:22] kdani41 commented on #144
Not related but do you know how to change the color for the bottom  controller bar https://github.com/Yalantis/uCrop/issues/729?

[2020-12-28 08:51] southerndevz opened #145 "No control over image naming"
Hi, thank you for this library but I have a issue. I want to an image with a custom filename so that I can overwrite over and over again. My implementation is for a profile picture, each time a user takes/picks a picture and crops it, a new copy will be saved to the cache and eventually after 20 profile changes the app would’ve cache about 20 MB!! I could tell them to clear the cache but that isn’

[2020-12-28 10:02] Dhaval2404 commented on #144
I guess you not using v1.8. Anyway please add this to color resource

[code]

[2020-12-28 10:30] souleateryx opened #146 "camera cant show"
sorry, i know what happened. case close

[2020-12-28 10:33] #146 closed

[2020-12-28 11:09] Dhaval2404 commented on #146
Ha haa! Can you please add a fix here? Someone might find that useful.

[2020-12-28 15:17] kdani41 commented on #144
@Dhaval2404  I am using 1.8. Adding  `ucrop_color_widget_background`  changes the bottom option bar(the one with 2 icons) color not the rotator bar color

[2020-12-28 18:33] Dhaval2404 commented on #144
@kdani41 Got it! I guess you need to update the followings

[code]

[2020-12-28 18:39] kdani41 commented on #144
@Dhaval2404
`ucrop_color_widget_active` -> this changes the active color of icon. Ex -> scale icon & text along with the middle active indicator on the bar.
`ucrop_color_inactive_controls_color` -> this is the default color of those icons when they are in inactive state.

[2020-12-29 14:03] jp-eagle commented on #130
Thanks for the reply. I don't have a physical phone with Android 11. I use Google Play Intel x86 Atom_64 System Image to test. it doesn't pick audio and video file.

[2020-12-29 14:34] Dhaval2404 commented on #130
@jp-eagle Today, I will check on Google Play Intel x86 Atom_64 System Image.

Thank you so much for your reply.

[2020-12-29 14:43] odolejsi commented on #143
I just ran into this as well after updating to 1.8 (to fix the crash with uCrop on super high resolution phones).
The error coming from ImagePicker is:
[code]

[2020-12-29 18:07] CatalystMonish opened #147 "Two Much Needed Features: Free Hand Cropper, To open the actual Gallery Directly/ from files."
Thanks, Dhaval for creating this amazing library it works well for my use, the imagine compression is too good, just I feel like these two important features are missing from this it would be helpful if you look into adding it, if I get some free time I'll work on it and submit a pull request.

[2020-12-30 16:29] southerndevz commented on #145
I’ve figured out something temporarily, I clear the folder when setting a new picture. Like:

[code]

[2020-12-30 17:26] Dhaval2404 commented on #145
@southerndevz Thank you so much for providing the alternate solution. I will explore the option to allow image naming over the weekends.

[2020-12-31 14:12] Dhaval2404 commented on #144
@kdani41 You can check the uCrop [color.xml](https://github.com/Yalantis/uCrop/blob/develop/ucrop/src/main/res/values/colors.xml) file to check other color options.

[code]

![Screenshot_1609423818](https://user-images.githubusercontent.com/7314181/103413567-2a368a00-4ba0-11eb-8131-6ea09f3e0bd5.png)

[2020-12-31 14:12] #144 closed

[2020-12-31 14:43] Dhaval2404 commented on #71
Duplicate of #145

[2020-12-31 14:43] #71 closed

[2021-01-01 19:31] nothingimportant55 commented on #143
Same issue here. Pixel 2, API 30. Camera doesn't appear

[2021-01-03 05:26] Dhaval2404 commented on #143
@krajzler @nothingimportant55

I found that the Checking Camera App Existing or not is not working in an app that targets API 30 (targetSdkVersion 30). It is due to the [package-visibility](https://developer.android.com/training/basics/intents/package-visibility)  introduced in API 30. I'm working on a possible solution. Hopefully, I will release the updated version by EOD.

Thank you so much for

[2021-01-03 05:30] Dhaval2404 commented on #143
For an immediate solution, please add **queries** into your AndroidManifest.xml

[code]

[2021-01-04 05:50] VincentJoshuaET opened #148 "Video Picker?"
Would this be difficult to add? Using this library is such a breeze instead of doing it manually. I looked into other media picker libraries but they are not updated for API 30.

[2021-01-04 05:54] VincentJoshuaET commented on #78
Is this possible already?

[2021-01-05 10:16] ElijahGM opened #149 "ERROR ON OPPO PHONE"
Hello on taking the image i get the following error
[code]

[2021-01-06 14:43] rotaru01 opened #150 "I need a thumbnail image for displaying a small icon on user interface."

[2021-01-12 07:49] hafeel3400 opened #151 "Captured image gets rotated"
In Some devices like redmi note 8 pro captured image gets rotated to 90 degree left

[2021-01-13 15:45] FlorianDenis opened #152 "Incorrect calculateInSampleSize leads to overly degraded quality"
You have an issue in `calculateInSampleSize` where the return results does not match the comment "largest value that keeps both height and width larger than the requested height and width".

For instance for an image of size 3000x3000, if the requested size is 2000x2000, your code returns `inSampleSize = 2`, leading to a 1500x1500 overly degraded image being loaded in memory and then upscaled to 2

[2021-01-14 08:29] kuadam opened #153 "unnecessary WRITE_EXTERNAL_STORAGE"
I am using internal app storage. Is there any way to remove WRITE_EXTERNAL_STORAGE request (1.8 version)?

[2021-01-14 11:44] missyadavmanisha opened #154 ""Unable to start activity ComponentInfo{net.eazypg.eazypgtenant/com.github.dhaval2404.imagepicker.ImagePickerActivity}:"
errorMessage : Unable to start activity ComponentInfo{net.eazypg.eazypgtenant/com.github.dhaval2404.imagepicker.ImagePickerActivity}: java.lang.IllegalStateException: Only fullscreen activities can request orientation",
"lineNumber":2904,
"className":"ActivityThread.java",
"methodName":"performLaunchActivity"
,"stackTrace":"android.app.ActivityThread.performLaunchActivity(ActivityThread.java:2904)

[2021-01-22 14:18] gauravarora90 opened #155 "Image is compressing a lot"
Hi Dhaval,

    I am using your image picker library and the images are compressing a lot that they are difficult to read or see. Can you please verify the configuration once?

`

 ImagePicker.with(fragment)
            // Crop Image(User can choose Aspect Ratio)
            // User can only select image from Gallery
            .galleryOnly()

            .galleryMimeTypes(  //no gif images at al

[2021-01-22 14:25] Dhaval2404 commented on #155
@gauravarora90 What do you mean by **images are compressing a lot that they are difficult to read or see**?

[2021-01-22 17:21] gauravarora90 commented on #155
Yes, they are very difficult to see and read. All are blurred when selected.

[2021-01-24 05:30] jordge06 opened #156 "Not Importing ing AS 4.2"
I already added all the depedency in my project but still its not popping up in suggestion when I type in ImagePicker. Do I have to import it manually if so what should I type in. Im using Java, minimum sdk 21. Thank You.

[2021-01-27 05:13] deanwinchester4848 commented on #146
Can you share it ?
I Have same Problem

[2021-01-30 12:46] raghavsatyadev commented on #78
@Dhaval2404 have you actually merged this commit in the main branch?

[2021-01-31 17:00] deanwinchester4848 opened #158 "Show Custom Image Picker to GalleryOnly"
When I used GalleryOnly ()
Can I show this at first ?
https://imgur.com/a/mWdtQ9y

[2021-02-03 14:00] gnovakovski commented on #145
Hey! Your library is awesome. I need to choose the image name too! Do you have any expectations in releasing this feature?

[2021-02-03 14:24] gnovakovski commented on #145
I've figured out a way to change the file name on OnActivityResult.
``
     File file = ImagePicker.Companion.getFile(data); ``
    ``  File newFile = new File(directory, "newFileName");``
     `` file.renameTo(newFile);
``

[2021-02-04 06:34] missyadavmanisha commented on #154
Any update on this?

[2021-02-05 10:45] appukrb commented on #109
@DkKhan786 why   **if (photoPath != null)** condition? this return always false.

[2021-02-05 10:49] appukrb opened #160 "setDismissListener() error"
I migrate my project to AndroidX but I am not using kotlin. when using setDismissListener(this) I am getting following error. I have delay in between selecting image and set image to my view that's why I am using dismiss listener

[2021-02-05 10:52] appukrb commented on #160
sorry I implemented wrongly, now working
[code]

[2021-02-05 10:52] #160 closed

[2021-02-08 02:15] bobbyirawan09 opened #161 "Caused by java.lang.NumberFormatException: For input string: "/storage/emulated/0/Download/X X/X.jpg""
Hi, thank you for this awesome library. But I have an issue. As the title name, the exception happens when try to converting the document ID from the `URI` to type `Long`. Here's the print stack trace of the error.

Caused by java.lang.NumberFormatException: For input string: "/storage/emulated/0/Download/X X/X.jpg"
       at java.lang.Long.parseLong(Long.java:583)
       at java.lang.Long.valueOf

[2021-02-15 14:50] WarrenFaith opened #162 "Camera does not start on Pixel 4 with 1.8 but with 1.7.5"
I used the lib successfully and wanted to update from 1.7.5 to 1.8.

On my Pixel 4 Android 11, the camery/galery dialog is still working but when I press camera, the dialog disappears and nothing happens.
Device was restarted to prevent issues with the camera. Downgrade to 1.7.5 made it work again. No error message, no log output that I could identify to be related.

The calling code I used didn't

[2021-02-16 12:40] janakspaceo commented on #162
same here

[2021-02-17 05:16] Dhaval2404 commented on #162
Duplicate of #146

[2021-02-17 06:37] WarrenFaith commented on #162
You sure? There is literally no clue what and why it happened with #146
I literally told you that a working simple usage is breaking after updating to the latest version.
#146 could also just be an error unrelated to your library.

[2021-02-17 06:38] WarrenFaith commented on #146
@souleateryx can you explain what happened and how you solved it? I might have a similiar or same issue at #162

[2021-02-17 07:01] Dhaval2404 commented on #162
@WarrenFaith sorry for wring tag, Can you please add **queries** into your AndroidManifest.xml

[code]

[2021-02-17 09:21] WarrenFaith commented on #162
Indeed, that solved it! Thank you!
Also mentioned as a solution in #143

[2021-02-17 09:21] #162 closed

[2021-02-17 09:22] WarrenFaith commented on #146
FYI: A possible solution might have been to use queries in the manifest like mentioned at #143

[2021-02-17 09:24] WarrenFaith commented on #156
Can you try to use a fantasy version number (like "99.88.77") to see if the build complains that it can't be found?
If that is the case we can assume that the dependency is added correctly.
If not please share some details of your build.gradle file(s).

[2021-02-17 12:45] devendra-mcl commented on #95
Hi, Have you found any solution to this library?

[2021-02-18 08:12] lobothijau opened #164 "Weird Behavior on Android 7 with Large Screen"
I'm not really sure what causing the issue since there is no error log appear. This issue only happen on large device screen (which cause the opened camera app somewhat rotated). If I cancel the camera or taking a picture and going back to my app, the last opened fragment is gone and I brought back to the first screen. My app screen's orientation is locked to portrait.

Anyone has a clue on what h

[2021-02-18 14:07] hitesh-dhamshaniya commented on #155
Can you please upload any image which compressing a lot?

[2021-02-18 14:21] hitesh-dhamshaniya commented on #149
Can you please provide your code snapshot which you used and get the above error?
And it would be good if you can provide a step to regenerate this issue?
In Device and OS, you getting the above error.

[2021-02-18 16:24] hitesh-dhamshaniya commented on #164
Hello @lobothijau,
By large screen, do you mean its tablets? If you can provide device name and os version in which you facing the issue, that will help us to find the solution. Thank you.

[2021-02-19 04:10] hitesh-dhamshaniya commented on #95
@devendra-mcl Can you please provide a description of the issue?

[2021-02-19 04:56] devendra-mcl commented on #95
This library is perfectly working if I choose to pick and crop an image but if I want to share an image from another app to my app then I get the content Uri and then I don't have the option to crop that image from this Uri. It is a very good feature to provide crop functionality to an existing image from Uri.

[2021-02-19 06:14] csj5483 opened #165 "Not working in fragment"

[2021-02-19 09:02] hitesh-dhamshaniya commented on #165
Hello @csj5483,
Kindly check the sample application in which they have demonstrated how to used Fragment.
And If you still having an issue to use it in a fragment, describe your scenario in details with device and OS details.
Thank you.

[2021-02-19 13:42] hitesh-dhamshaniya commented on #156
Can you please try adding the below method and import manually. Clean the project and try to run the app.
[code]
and If it does not work then please share your Gradle.

[2021-02-22 10:32] sagarkokare commented on #143
If I want to select image from camera, nothing happens.gallery working fine

[2021-02-22 14:45] GuilhE opened #166 "Migrate to Maven Central"
JFrog just announced that they'll be shutting down JCenter:
https://jfrog.com/blog/into-the-sunset-bintray-jcenter-gocenter-and-chartcenter/

Key dates are:

- February 28th: No more submissions will be accepted to Bintray, JCenter
- May 1st: Bintray, JCenter services will no longer be available

Hence, ImagePicker should also be migrated to another maven repository like Maven central.
Since you h

[2021-02-25 07:21] rinathakkar opened #172 "can we choose multiple images at one time from gallery ?"

[2021-02-25 08:21] faiz786 opened #173 "Crash on android 11 on returning result to onActivitity Result"
there is crash on android 11 on returning result to onActivityResult

I checked You Library Code it is using External Storage Directory There is restriction in android 11 on that

[2021-02-25 09:16] mamomia commented on #69
having same issue in v1.8 any workaround?

[2021-02-25 13:12] hitesh-dhamshaniya commented on #172
@rinathakkar I think this is an enhancement, not an issue. Kindly check for a single image and if you come across with crash/bug, report it, with an error stack trace. Thank you.

[2021-02-25 20:13] titosobabas opened #174 "Android 10 not asking permissions and app crash"
My app looks as follows in Android 10 when i want to upload a image with the library the first time:

![image](https://user-images.githubusercontent.com/18486020/109211195-84546580-7773-11eb-9afe-0a4634e71dc9.png)

The library is not asking permissions just like do it in other android versiones, by which is causing app crash

How to solve it?

[2021-02-25 20:18] titosobabas commented on #174
Solved following this answer https://stackoverflow.com/a/63425492/6119009

[2021-02-25 20:19] #174 closed

[2021-03-01 09:23] GuilhE commented on #173
I've a [PR](https://github.com/Dhaval2404/ImagePicker/pull/171) open that fixes that (and more). Hope the owner finds it useful 🙏

[2021-03-07 02:27] lmj0011 commented on #172
@rinathakkar [this fork](https://github.com/Harmanbeer007/ImagePicker/commits/master) seems to have implemented this

[2021-03-07 02:33] lmj0011 commented on #3
Anyone want to test this [this fork](https://github.com/Harmanbeer007/ImagePicker/commits/master) out? It seems to have implemented Multiple Image Selection

just have to call `setMultipleAllowed(true)` on the [ImagePicker builder](https://github.com/Harmanbeer007/ImagePicker/blob/67f66faebf31813b0cc87c4655351761deafa376/imagepicker/src/main/kotlin/com/github/dhaval2404/imagepicker/ImagePicker.kt#

[2021-03-07 16:58] rahat14 commented on #173
Author Should Fix This Soon !!

[2021-03-07 16:59] rahat14 opened #175 "Crashing On Android 11"
there is crash on android 11 on returning result to onActivityResult

[2021-03-09 11:42] rinathakkar commented on #172
@lmj0011 Thank you

[2021-03-11 14:09] hitesh-dhamshaniya commented on #175
@rahat14 Probably duplicate issue... Kindly check [173](https://github.com/Dhaval2404/ImagePicker/issues/173), if it's the same, please close the issue.

[2021-03-11 23:36] rmlz opened #177 "Override texts"
Hello guys! I'm new to the library and would like to change the texts shown texts (such as "Choose" and "Gallery") to my native language. Is there any way I can override the texts (like the strings.xml txts)?

Thanks in advance.

[2021-03-12 13:23] Zia-Sheikh opened #178 "multiple image selection"
hello first of all I am very thankful for this life saving work, but I couldn't understand that how to select multiple images from gallery? I already seen #172 but couldn't understand. Please guide, your help would be much appreciated.
**Thank you.**

[2021-03-12 14:19] #175 closed

[2021-03-15 14:40] lmj0011 commented on #178
You're going to have to try seeing if there's a fork with that feature implemented and try it out by importing it into your project

Here's a fork: https://github.com/Harmanbeer007/ImagePicker

Here's some S/O answers to get you on the right path for adding it to your project: https://stackoverflow.com/a/38848119/2445763

also see: https://github.com/Dhaval2404/ImagePicker/issues/3#issuecomment-79

[2021-03-17 21:54] day2x opened #179 ".saveDir not work, file not copy to new path/folder"
the beginning i use this function with .compress, it works,
selected file from gallery is copied to new path/folder
ImagePicker.with(this)
        .compress(1024)
        .saveDir(File(Environment.getExternalStorageDirectory(), "ImagePicker"))
	.galleryOnly()	//User can only select image from Gallery
	.start()

but if i remove .compress and the selected file from gallery is not copying to the new

[2021-03-20 18:41] javimar opened #180 "onActivityResult deprecated. How to handle it now?"
## Summary

## Code to reproduce

## Android version

## Impacted devices

## Installation method

## SDK version

## Other information

[2021-03-23 09:26] tobiasKaminsky opened #181 "onActivityResult is not called"
I start the image picker with:
[code]

I can successfully select an image, but onActivityResult(…) in same Activity is not called.

When I use
[code]

I do get an result back.

There is not much in Logcat.
I am using ButterKnifeController which encapsulates activity.

[2021-03-23 09:34] tobiasKaminsky commented on #181
It seems that the problem is "who" is calling startActivityForResult(…).

In my case this must be done via the Controller, and not via activity.

Switching
[code]
to
[code]
results in the same problem.

[2021-03-24 11:35] jp-eagle commented on #130
any finding about this?

[2021-03-28 07:43] andj207 opened #183 "How to start a crop only when we already have image file/uri?"
User has an image file selected somewhere in my app, and now user just want to start cropping that image. What code should I use?

[2021-03-31 08:20] Khaptikma opened #185 "Variables Became Null Or Empty After Taking Picture Using Camera Only On Android One Device"
So, because of flow request put by a client, I'm now using a controller class to take and show pictures in my Activity. The pictures is going to be put in ArrayList and RecyclerView. Here is how I took the picture:

**METHOD 1**

My controller class:

[code]
Then I would run that runnable in my Activity like:

[code]
**METHOD 2**

This time I don't use static variables, except an Int variable to m

[2021-04-03 12:44] abalta-mobven commented on #173
Thank you @GuilhE

[2021-04-05 11:37] Bharatsingh049 commented on #38
The same issue persists with android 11. I have also tried the **requestLegacyExternalStorage** but it didn't seem to work.
Please help.

[2021-04-05 11:39] Bharatsingh049 opened #186 "Falied to create camera image file"
The same issue persists with android 11. I have also tried the **requestLegacyExternalStorage** but it didn't seem to work.
Please help.

[2021-04-06 11:15] chnouman opened #187 "compress() not working"
## Summary

the .compress(size) function is not working. It is returning image with orignal size
## Code to reproduce

[code]
## Android version

Android 10
## Impacted devices

RedMi 9
## Installation method

[code]
## SDK version

30
## Other information

[2021-04-07 06:57] sinhpn92 commented on #29
I have got permission not allowed on Android 11. I did check that it's approved, But the lib still return false. Have anyone facing this error?

[2021-04-07 07:07] sinhpn92 commented on #173
I have been looking for a long time, But seem to be not fixed. Right?

[2021-04-07 07:24] GuilhE commented on #173
Try my fork to see if it helps you. No problem so far on Pixel 3a running Android 11

[2021-04-11 07:20] sinhpn92 commented on #183
I have same question about it. Did you solve it? @andj207

[2021-04-11 07:27] andj207 commented on #183
@sinhpn92 I don't know how with this lib, I decided to use the lib here https://github.com/ArthurHub/Android-Image-Cropper

[2021-04-12 01:59] sinhpn92 commented on #183
@andj207 Humzzz.
Thanks. I have used uCrop for my project. uCrop was used by this lib too.

[2021-04-12 08:06] HosseinKurd commented on #186
Same Issue `Failed to create crop image file`

On Android 10
Xiaomi Redmi Note 8

[2021-04-12 11:04] HosseinKurd commented on #68
Not works in my case

[2021-04-13 13:38] Sid110307 opened #189 "How to get Selected I"
## Summary

## Code to reproduce

## Android version

## Impacted devices

## Installation method

## SDK version

## Other information

[2021-04-13 13:41] Sid110307 opened #190 "How to get Selected Image as Bitmap?"
# SDK version
`com.github.dhaval2404:imagepicker:1.8`

![image](https://user-images.githubusercontent.com/67900745/114562186-e7e71380-9c8b-11eb-8fd9-b5721ed2639a.png)

[2021-04-13 17:18] galvandamiancarlos commented on #29
any solution?

[2021-04-14 10:41] vedraj360 opened #191 "Free Crop and Big size images loads slow"
Free Crop and Big size images loads slow

## Summary
1. The current crop library is good but lacks the one of the important feature Free crop like drag square to crop image. You can try to use https://github.com/ArthurHub/Android-Image-Cropper can provide the option to select the crop library.

2. On some phones when photo is clicked and size of image is Big then it take time to get the result in

[2021-04-14 20:20] Damercy commented on #173
@GuilhE Awesome. Has the author merged the changes you've made in the fork? Would be great instead of cloning another repo. 😄

[2021-04-14 21:21] GuilhE commented on #173
The PRs are open, auther said nothing so far. You don't have to fork, use jitpack: then I'm using this: https://jitpack.io/#GuilhE/ImagePicker

[2021-04-14 21:26] Damercy commented on #173
@GuilhE I just checked the PR tab. Seems like there's some merge conflict and hence PR's not being merged? See [this](https://github.com/Dhaval2404/ImagePicker/pull/171#commitcomment-48856827).

[2021-04-15 07:56] GuilhE commented on #173
Done, didn't noticed that merge conflict, thanks for point it out 👍

[2021-04-15 09:55] amjad3011 opened #193 "orientation problem"
in landscape orientation, the library open camera and the editor layout is always a portrait

[2021-04-16 09:48] costular commented on #29
Any update on this?

[2021-04-16 13:39] joaodforce commented on #130
<img width="692" alt="image" src="https://user-images.githubusercontent.com/9410916/115032706-fc9bf500-9e9f-11eb-9177-9c29874b5823.png">

I believe this is the cause of the issue.

[2021-04-16 13:53] joaodforce commented on #130
I managed to fix the compatibility issue by rolling back my SDK Target to 28, but this need to be fixed so it can be used with future SDKs in the future.

[2021-04-16 17:08] yidinghe commented on #173
@GuilhE , there is another issue, Falied to create camera image file, Permission denied.

[2021-04-16 17:21] GuilhE commented on #173
Have you tried this:
[code]

[2021-04-16 17:33] yidinghe commented on #173
Yes, I did. Have permission denied issue getCameraDirectory. Check the issue #186.

[2021-04-18 05:31] #193 closed

[2021-04-19 09:19] vishalkumarsinghvi commented on #29
We've detected that your app contains the requestLegacyExternalStorage flag in the manifest file of 1 or more of your app bundles or APKs.

Developers with apps on devices running Android 11+ must use Scoped Storage to give users better access control over their device storage. To release your app on Android 11 or newer after May 5th, you must either:

Update your app to use more privacy-friendly

[2021-04-20 08:42] mkylychev opened #194 "Is it possible to change toolbar title text in Ucrop activity"
Hi!
Thank you for awesome library.
I want to change toolbar title in ucrop activity(need use russian lang).
Is it possible?

[2021-04-20 08:49] mkylychev commented on #194
This help me find string keys to change text -
https://github.com/Dhaval2404/ImagePicker/pull/117

[2021-04-20 08:49] #194 closed

[2021-04-22 13:38] Achozen commented on #29
Any update regarding **requestLegacyExternalStorage** usage for Android 11? Can we expect any solution before the 5'th of May or we need to switch to another library?

[2021-04-23 13:32] vishalkumarsinghvi commented on #29
@Dhaval2404  without READ_EXTERNAL_STORAGE && WRITE_EXTERNAL_STORAGE  permission can we read images from android or not  like so many people are using Intents without permission they are able to pick images.

[2021-04-24 04:57] #189 closed

[2021-04-26 17:27] Firas-El-Mohtar commented on #181
I am facing the exact same issue, it worked for a few days but then suddenly stopped. Any solutions?

[2021-04-27 10:00] ratheeshcn commented on #161
@bobbyirawan09 Did you find a solution for this ? Im also getting the same issue on Galaxy Note 8

[2021-04-28 06:38] HosseinKurd commented on #180
Hi
Please use :

[code]

[2021-04-28 06:40] HosseinKurd commented on #173
Same Issue!

[2021-04-28 16:47] vcuk21 commented on #183
@andj207 https://github.com/ArthurHub/Android-Image-Cropper is deprecated and @sinhpn92 ucrop has issues with Android 10/11

I'm using https://github.com/CanHub/Android-Image-Cropper that come from the one @andj207 said. And is maintaned.

[2021-04-28 16:54] vcuk21 opened #196 "Still maintained?"
Will this library be update for Android 10 and 11 with the issues?
@Dhaval2404 still actively working on this?

I see we have some important PRs from @GuilhE and @Drjacky for release 2.0.0 and 2.0.1 but they look blocked =(((

I found this other lib: https://github.com/CanHub/Android-Image-Cropper
But I don't wanna spent time changing if this one should be fixed soon =D

[2021-04-28 17:14] vishalkumarsinghvi commented on #196
Hey @vcuk21, I sent mail to @Dhaval2404 but no update response till now so  I think we have to shift to another library

[2021-04-28 17:15] vcuk21 commented on #196
Ty for the update @vishalkumarsinghvi

[2021-04-28 17:18] vishalkumarsinghvi commented on #196
If you update or change something let me know I will also update code @vcuk21

[2021-04-28 17:51] vishalkumarsinghvi commented on #196
Have you got a warning from play console?

[2021-04-30 12:47] Drjacky commented on #196
@vcuk21 & @vishalkumarsinghvi Please try this version and let me know if it works: [v2.0.4](https://github.com/Drjacky/ImagePicker/releases/tag/2.0.4)

[2021-04-30 15:18] vishalkumarsinghvi commented on #196
@Drjacky  In this library have you used read & write permission ?

[2021-04-30 16:07] Drjacky commented on #196
@vishalkumarsinghvi Just `<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />`

[2021-05-01 06:35] vishalkumarsinghvi commented on #196
@Drjacky Have you restricted WRITE_EXTERNAL_STORAGE this permission for android SDK 28?

[2021-05-01 10:08] Drjacky commented on #196
@vishalkumarsinghvi Please explain your concern a little bit more.

[2021-05-01 11:35] vcuk21 commented on #183
hmm, I saw many issues and this one: https://github.com/Yalantis/uCrop/issues/715
So I'm going for the one which is more maintained, but if works for you use, is an amazing lib!

[2021-05-01 11:37] vcuk21 commented on #196
Thanks @Drjacky already using the Image Cropper. Maybe you should drop your fixes on it! they are updating the library always  and has more downloads than this one, but less stars 🤔

[2021-05-01 11:44] vishalkumarsinghvi commented on #196
@vcuk21 @Drjacky

I used this library github.com/Dhaval2404/ImagePicker and I got a warning from the android play console, team We've detected that your app contains the requestLegacyExternalStorage flag in the manifest file of 1 or more of your app bundles or APKs. Developers with apps on devices running Android 11+ must use Scoped Storage to give users better access control over their device sto

[2021-05-01 11:45] vishalkumarsinghvi commented on #196
@vcuk21 Which library is safe & we can use it.

[2021-05-01 12:40] Drjacky commented on #196
@vishalkumarsinghvi Please look at the [URL](https://github.com/Drjacky/ImagePicker/releases/tag/2.0.4) again. That's my library which uses the Dhaval repo as the base.

[2021-05-01 13:09] Drjacky commented on #196
If scoped storage is enabled, the collection shows only the photos, videos, and audio files that your app has created. Most developers won't need to use MediaStore.Files to view media files from other apps, but if you have a specific requirement to do so, you can declare the READ_EXTERNAL_STORAGE permission. It's recommended, however, that you use the MediaStore APIs to open files that your app ha

[2021-05-01 13:16] Drjacky commented on #196
@vcuk21 Thanks. yes, it's a well-coded library. I'll take a look into it and try to improve my code.

@vishalkumarsinghvi I'd suggest you use the suggestion [library](https://github.com/CanHub/Android-Image-Cropper) until Dhaval's library or [mine](https://github.com/Drjacky/ImagePicker) could fix the issue on API **29** regards picking an image from Gallery.

[2021-05-01 14:31] vishalkumarsinghvi commented on #196
@Drjacky Thank you so much :)

[2021-05-01 14:32] vishalkumarsinghvi commented on #196
😊

[2021-05-01 16:15] Drjacky commented on #196
@vishalkumarsinghvi The issue regards pick the image from Gallery in Api 29 has been fixed: [v2.0.5](https://github.com/Drjacky/ImagePicker/releases/tag/2.0.5)

Now, the library works on API 19-30 without any problem.

[2021-05-01 16:20] vishalkumarsinghvi commented on #196
Your sample code is updated?.

[2021-05-01 16:24] Drjacky commented on #196
@vishalkumarsinghvi

Yes: https://github.com/Drjacky/ImagePicker/tree/master/sample
Sample app and ImagePicker library use this line:
`versionName rootProject.ext.versionName`
which at this moment is:
[code]

I've tested on API 28, 29, 30 by myself.
Feel free to test and return back to me [here](https://github.com/Drjacky/ImagePicker/issues) if you found an issue.

[2021-05-01 16:26] vishalkumarsinghvi commented on #196
Sure I will test soon let you know
Thank again for your code.

[2021-05-03 06:53] vishalkumarsinghvi commented on #196
In your library Without WRITE_EXTERNAL_STORAGE Permission we can handle camera click or we have to add this permission in our manifest because in your sample code you did not mention it .

[2021-05-03 07:22] vishalkumarsinghvi commented on #196
@Drjacky I tested on android 10 only the downloaded folder image is working fine, the media did not find an error when selecting a gallery image.

[2021-05-03 10:46] Drjacky commented on #196
Follow the sample app. The necessary permissions are there.
In other word: Do not add/no need to add `WRITE_EXTERNAL_STORAGE`.

____

So, we're good, right? 🙂

[2021-05-03 11:21] vishalkumarsinghvi commented on #196
No,@Drjacky If you select an image like recent or image directory app is showing a blank image and if you tap on image media not found toast will come.For android 10 only

[2021-05-03 11:31] vcuk21 commented on #196
Amazing work @Drjacky but now I'm using the other lib =/ (https://github.com/CanHub/Android-Image-Cropper) cause is working for every case

Hopefully they will let you be part of the maintainers \o/

[2021-05-03 11:31] #196 closed

[2021-05-03 11:38] vishalkumarsinghvi commented on #196
@vcuk21 Above mentioned library moto is only for image cropping right?

[2021-05-03 11:41] vcuk21 commented on #196
What you mean by "moto"??

The lib has camera, gallery, doc picker and image cropper, rotation, oval crop, custom layout and activity extended options.

[2021-05-03 11:45] vishalkumarsinghvi commented on #196
Okay, Thanks @vcuk21  I thought this library is only used for cropping images.

[2021-05-03 15:57] denite opened #197 "onActivityResult: ImagePicker Error: Camera app not found"
## Summary
Camera app does not open.
Error:  onActivityResult: ImagePicker Error: Camera app not found

## Code to reproduce

 ImagePicker.with(mainActivity)
                .cameraOnly()
                .crop(245f, 150f)
                .maxResultSize(1500, 918)
                .compress(200)
                .saveDir(imageFolderPath)
                .start(IMAGE_RESULT)

## Android version
Androi

[2021-05-03 18:51] kdani41 opened #198 "Question: Disable saving of the picture"
Is there any way to disable the save feature when cropping the image?

[2021-05-03 19:45] hashem-saqqa commented on #190
u can override the onActivityResult method and get the result there from the data
    @Override
    protected void onActivityResult(int requestCode, int resultCode, @Nullable Intent data) {
        super.onActivityResult(requestCode, resultCode, data);
        if (resultCode == RESULT_OK & data != null) {

            String file = ImagePicker.Companion.getFilePath(data);
            profileImage.

[2021-05-05 10:26] kdomingo commented on #180
How do we integrate that with the current picker? there seems to be no way.

[2021-05-05 19:25] Drjacky commented on #196
ℹ️ For anyone who got here, [v2.1.6](https://github.com/Drjacky/ImagePicker/releases/tag/2.1.6) works perfectly on APIs 19-30. ℹ️

[2021-05-08 12:10] CatalystMonish opened #199 "Update required!! Won't be supported by playstore if not resolved."
One of my app uses this Image Picker and recently google send this out, hence applications may get removed from the playstore, please help!

![114824531-a5841a80-9de2-11eb-9723-c17556d4cb75](https://user-images.githubusercontent.com/30138405/117538580-76994700-b024-11eb-9cb6-5402089f5b45.png)

[2021-05-08 12:13] CatalystMonish commented on #198
Currently no

[2021-05-10 14:17] piotr-andrychiewicz-spaceos commented on #199
I wrote to @Dhaval2404 about this issue few weeks ago, he tole he will fix it, however as far as I know no action were taken. It's sad. Today I switch to other library

[2021-05-11 07:18] CatalystMonish commented on #199
Thanks dude, did he solve the issue in it?

[2021-05-11 07:20] CatalystMonish commented on #199
Do you have any good library suggestions ?

[2021-05-11 07:24] vishalkumarsinghvi commented on #199
Yes, he resolved issue for all version

[2021-05-11 07:26] vishalkumarsinghvi commented on #199
it's working fine in  android 10,11 i tested Right now I am targeting android 29 so I did not change anything but soon I will use this library @CatalystMonish

[2021-05-12 14:37] hasansidd commented on #199
@Dhaval2404, are there plans to release a version with support for targetSDK 30? If not this library will be impossible to use in production now. If you have a rough timeline that would be great, but I know its free and open source so if you are too busy please let us know as well so we can commit to other options

[2021-05-13 07:38] rahat14 commented on #199
@Dhaval2404 please give us a feed back of u r plan we have in production using this library

[2021-05-13 07:38] rahat14 commented on #199
which library

[2021-05-13 10:03] instalogist commented on #199
Please suggest which is you are using now, i also found this library quite buggy

[2021-05-13 10:14] vcuk21 commented on #199
@rahat14 @instalogist

another option https://github.com/CanHub/Android-Image-Cropper

[2021-05-13 11:22] sagarbhojaviya commented on #199
@Dhaval2404 please give us a feedback of your plan for android 11 support or not so we can move to another library

[2021-05-13 18:03] CatalystMonish commented on #199
Dhaval's status says he is out sick, that may be the reason he is not releasing updates!

[2021-05-15 06:15] Dhaval2404 commented on #197
Duplicate of #162

[2021-05-15 06:15] #197 closed

[2021-05-15 06:16] Dhaval2404 commented on #199
Sorry for the delay! New release coming by end of the day!

[2021-05-15 06:18] Dhaval2404 commented on #190
Thank you @hashem-saqqa for the feedback. @Sid110307 hope your question is answered.

[2021-05-15 06:18] #190 closed

[2021-05-15 06:27] Dhaval2404 commented on #183
@andj207 ImagePicker doesn't support crop-only feature. You can use uCrop library directly in your project.

[2021-05-15 06:27] #183 closed

[2021-05-15 06:28] Dhaval2404 commented on #177
Thank you @hitesh-dhamshaniya for the feedback. @rmlz hope your question is answered. Please add a comment below if you need more help. Closing this issue for now.

[2021-05-15 06:28] #177 closed

[2021-05-15 06:32] Dhaval2404 commented on #181
@tobiasKaminsky If you're starting the ImagePicker from Fragment, instead of getActivity() you need to pass fragment instance.

ImagePicker.Companion.with(this)
.start();

In ImagePicker, Two methods are available:
1. with(activity: Activity)
2. with(fragment: Fragment)

I believe you're using "**with(activity: Activity)**" inside the fragment, while you should use **with(fragment: Fragment)**.

H

[2021-05-15 06:36] Dhaval2404 commented on #153
Storage permission will be removed from v2.0

Duplicate of #29

[2021-05-15 06:36] #153 closed

[2021-05-15 06:38] #181 closed

[2021-05-15 06:39] Dhaval2404 commented on #148
This library is only meant for Image Picker.

[2021-05-15 06:39] #148 closed

[2021-05-15 06:48] Dhaval2404 commented on #152
Thank you @FlorianDenis for the feedback

[2021-05-15 06:48] #152 closed

[2021-05-15 07:15] phath9 opened #201 "Cannot resolve method 'getFile' in 'ImagePicker'"
getFile method seems to be missing from ImagePicker. I've followed the instructions in the README to get Uri but getFile is not working.

`ImagePicker.getFile(data)`

[2021-05-15 07:36] Dhaval2404 commented on #201
If you're using Java then try.

[code]

Note: This method will be removed in v2.0. Use Uri object instead of File to compatibility with Android 11 Scope Storage.

[2021-05-15 08:26] sagarbhojaviya commented on #199
thanks bro

[2021-05-15 08:45] #201 closed

[2021-05-15 08:45] #199 closed

[2021-05-15 08:50] #29 closed

[2021-05-15 08:51] Dhaval2404 commented on #173
The issue has been resolved in v2.0.

[2021-05-15 08:51] #173 closed

[2021-05-15 08:51] Dhaval2404 commented on #186
The issue has been resolved in v2.0.

[2021-05-15 08:51] #186 closed

[2021-05-15 08:57] Dhaval2404 commented on #180
1. Add required dependency for registerForActivityResult API

[code]

2. Declare this method inside fragment or activity class

[code]

3. Create ImagePicker instance and launch intent

[code]

[2021-05-15 08:57] #180 closed

[2021-05-15 09:02] Dhaval2404 commented on #165
@tobiasKaminsky If you're starting the ImagePicker from Fragment, instead of getActivity() you need to pass fragment instance.

[code]

[code]

In ImagePicker, Two methods are available:
1. with(activity: Activity)
2. with(fragment: Fragment)

I believe you're using "**with(activity: Activity)**" inside the fragment, while you should use **with(fragment: Fragment)**.

Hope this answered your quest

[2021-05-15 09:02] #165 closed

[2021-05-15 09:03] #100 closed

[2021-05-15 15:46] instalogist commented on #199
Latest release is breaking when i try to upload image from gallery

[2021-05-15 16:42] Dhaval2404 commented on #199
@instalogist The breaking changes are introduced to better support Android scope storage.

You may find the below link useful to upload images using Uri. Let me know If I can be of any help.

https://commonsware.com/blog/2020/07/05/multipart-upload-okttp-uri.html

[2021-05-16 15:51] khizarhayat commented on #24
Used .cropSquare() as quick solution.

[2021-05-17 09:18] vishalkumarsinghvi commented on #199
@Dhaval2404 in manifest of library android:requestLegacyExternalStorage=true  still exist
 https://github.com/Dhaval2404/ImagePicker/blob/master/imagepicker/src/main/AndroidManifest.xml

[2021-05-17 09:50] Dhaval2404 commented on #199
@vishalkumarsinghvi Thank you @vishalkumarsinghvi for bringing it to my notice. Will release a new version by end of the day.

[2021-05-17 09:56] vishalkumarsinghvi commented on #199
I have one question right now we are not using any storage permission in this library?

[2021-05-17 10:01] Dhaval2404 commented on #199
@vishalkumarsinghvi No, ImagePicker does not require any storage permission to function.

[2021-05-18 08:02] nishu3389 opened #202 "How to get the File from uri got in ActivityResult?"
i am getting the uri in ActivityResult,
is there any way to get the file or file path above android 10?

Also getting rotated image when capturing from camera, any solution of this?

[2021-05-18 09:57] nishu3389 opened #203 "how to get correct rotated image after capturing from camera"
Getting rotated image when capturing from camera, any solution of that??

[2021-05-19 08:31] Dhaval2404 commented on #202
@nishu3389 Why do you need a File from Uri? If you need it for file upload, Let me know which library you are using so I will suggest appropriate solutions for the same. My recommendation is to use Uri to better support scope storage.

The possible solution is to copy Uri to an app-specific folder and access it using the File object. But why should we do extra processing when things can be done us

[2021-05-19 08:33] Dhaval2404 commented on #203
@nishu3389 I will investigate the issue. Can you please provide more info to reproduce the issue? Like the android version and device info on which you perform the testing.

[2021-05-19 13:21] daryljodanny commented on #202
@Dhaval2404 Will using the extension function in core-ktx do the trick in converting the Uri to File? I'm looking to upload the file via retrofit

[2021-05-19 17:34] Dhaval2404 commented on #202
You must have created RequestBody from the File object before uploading using a retrofit.

Previous implementation:

[code]

Here is the minor change into that:

[code]

You can find the **InputStreamRequestBody** class from the below link:
https://gist.github.com/Dhaval2404/f73442b8e584beb9243b465d7b22e2fa

Let me know if you have any trouble implementing this solution.

[2021-05-20 16:15] Dhaval2404 opened #205 "How to upload image Uri using retrofit?"
You needed to create RequestBody in order to upload the image Uri.

[code]

[code]

[code]

Please add a comment below if you need more help on this.

[2021-05-21 08:09] Sid110307 commented on #190
Thank you. I solved it by ```imageView.setImageBitmap(decodeStream(getContentResolver().openInputStream(data.getData())));```

[2021-05-23 11:33] Dhaval2404 commented on #95
@devendra-mcl  Thank you for your feedback. It will be easier to use any crop library to just perform the crop operations. This will help keep the library clean for unnecessary dependencies.

Also, As of now ImagePicker only supports uCrop. If 3rd party library is used directly then the developer will have better control over its customization.

[2021-05-23 11:33] #95 closed

[2021-05-23 12:01] Dhaval2404 commented on #161
@bobbyirawan09 @ratheeshcn
Please migrate to v2.0. It no longer uses FileUriUtils hence the issue will be fixed now.

[2021-05-23 12:01] #161 closed

[2021-05-23 12:04] Dhaval2404 commented on #172
Duplicate of #3

[2021-05-23 12:04] #172 closed

[2021-05-23 12:05] Dhaval2404 commented on #178
@Zia-Sheikh This feature is not supported yet.

Duplicate of #3

[2021-05-23 12:05] #178 closed

[2021-05-23 12:54] Dhaval2404 commented on #130
@jp-eagle Issue is resolved in ImagePicker v2.0. Please give it a try.

![image](https://user-images.githubusercontent.com/7314181/119261240-24475100-bbf4-11eb-9046-463f2fd07303.png)

<div>
<img src="https://user-images.githubusercontent.com/7314181/119261005-f0b7f700-bbf2-11eb-937e-193702434aaa.png" width="280">

<img src="https://user-images.githubusercontent.com/7314181/119261015-fad9f580-bbf2-

[2021-05-23 12:54] #130 closed

[2021-05-23 12:56] Dhaval2404 commented on #143
This issue is resolved in **v2.0**

[2021-05-23 12:56] #143 closed

[2021-05-24 13:43] rrsaikat commented on #203
@Dhaval2404
Scenario: Lets you have three imageview! 1st and 2nd works fine. But for 3rd, captured Image gets **Anticlockwise** after setting into imageview!

Device: Redmi note 5 pro
OS: Android 8.1

[2021-05-24 13:51] rrsaikat opened #206 "Not working into Android 11"
Library works well for smaller android versions like 10, 9, 8, 8.1 (tested) but not working into android 11.

Scenario:
When i call `ImagePicker.with(this).start()` nothings happens.

Device: One Plus 6
OS: Android 11

[2021-05-24 14:39] Dhaval2404 commented on #206
@rrsaikat What is the ImagePicker version you tested on?

[2021-05-25 06:50] nishu3389 commented on #203
Device: Redmi note 5 pro
OS: Android 9

Please use exif interface to get the correct orientation of the captured image,
So the developer dont have to do it every time he use your library.
Anyway great work you have done, just correct issue.

[2021-05-25 06:56] nishu3389 commented on #202
"The possible solution is to copy Uri to an app-specific folder and access it using the File object. But why should we do extra processing when things can be done using Uri."

it will be great if you implement this process into your library in case we really need the file object.

Thanks :)

[2021-05-26 08:11] vishalkumarsinghvi commented on #199
Have you released any new build with above-mentioned issue

[2021-05-27 17:32] Dhaval2404 commented on #199
@vishalkumarsinghvi Sorry for the delay. The new version is released now. Please give it a try.

[2021-05-27 17:36] #156 closed

[2021-05-28 15:16] Dhaval2404 commented on #151
Duplicate of #56

[2021-05-28 15:16] #151 closed

[2021-05-28 15:17] #15 closed

[2021-05-28 16:18] #198 closed

[2021-05-28 16:19] Dhaval2404 commented on #108
Closing this task as ImagePicker no longer depends on InlineActivityResult

[2021-05-28 16:19] #108 closed

[2021-05-28 16:21] Dhaval2404 commented on #147
Duplicate of #87 #76

[2021-05-28 16:21] #147 closed

[2021-05-28 16:22] Dhaval2404 commented on #112
Duplicate of #76

[2021-05-28 16:22] #112 closed

[2021-05-28 16:24] Dhaval2404 commented on #191
Duplicate of #76 #139

[2021-05-28 16:24] #191 closed

[2021-05-28 16:26] #89 closed

[2021-05-28 16:28] Dhaval2404 commented on #70
Duplicate of #76

[2021-05-28 16:28] #70 closed

[2021-05-28 16:31] Dhaval2404 commented on #155
The issue has been fixed in v2.0.

Ref issue: #152

Ref commit: [d0d7ecc38c9758955830d91c72de8ad8b849b21f](https://github.com/Dhaval2404/ImagePicker/commit/d0d7ecc38c9758955830d91c72de8ad8b849b21f)

[2021-05-28 16:31] #155 closed

[2021-05-28 16:36] Dhaval2404 commented on #24
Duplicate of #56

[2021-05-28 16:36] #24 closed

[2021-05-28 16:37] Dhaval2404 commented on #203
Duplicate of #56

[2021-05-28 16:37] #203 closed

[2021-05-28 23:28] antranvn opened #208 "There is a dialog that blink after success in camera only mode"
## Summary

There is a dialog that blink after success in camera only mode
## Code to reproduce

I just use sample source code
## Android version

SDK 29
## Impacted devices

vsmart Joy3
## Installation method

## SDK version

SDK 29
## Other information

You can see recorded screen for reference. How can I remove that dialog blink?
https://drive.google.com/file/d/1gdH2akEcNVR4uh_gk6BaeBEo79UHXsPk

[2021-05-29 04:08] Dhaval2404 commented on #208
There is no progress dialog in the ImagePicker library, So this must be coming from the in-built camera app. Please let me know your thoughts.

![image](https://user-images.githubusercontent.com/7314181/120057477-06994200-c061-11eb-90c8-4adeabfa659e.png)

[2021-05-29 04:12] Dhaval2404 commented on #74
Closing this task as InlineActivityResult is removed from ImagePicker v2.0.

[2021-05-29 04:12] #74 closed

[2021-05-29 04:18] Dhaval2404 commented on #138
@ajinkyaw I Hope the above solution works for you. Alternatively you can use ViewModel to store File value that way also ViewModel will preserver your picked file and in the onCreate method check file value is not null set ImageView.

I'm closing this issue now. Feel free to reopen if you're still facing the issue.

Thank you!

[2021-05-29 04:18] #138 closed

[2021-05-29 04:22] Dhaval2404 commented on #206
@rrsaikat Can you please provide info ImagePicker version you used?

[2021-05-29 06:05] Dhaval2404 commented on #150
This is out of the scope of ImagePicker.

This StackOverflow link might be useful to you:
[https://stackoverflow.com/questions/5548645/get-thumbnail-uri-path-of-the-image-stored-in-sd-card-android](https://stackoverflow.com/questions/5548645/get-thumbnail-uri-path-of-the-image-stored-in-sd-card-android)

Thank you!

[2021-05-29 06:05] #150 closed

[2021-05-29 06:11] Dhaval2404 commented on #109
@appukrb Sorry for the delayed reply

photoPath is always null because you're only setting its value when is not null.

[code]

I believe, following is the proper way to handle the result

[code]

Thank you!

[2021-05-29 14:34] Dhaval2404 commented on #187
@chnouman This is a known issue in v1.8 and **has been resolved now in v2.0**. Please give it a try.

[2021-05-29 14:34] #187 closed

[2021-05-31 03:36] antranvn commented on #208
You are right, it is issue of in-built camera app. So we should close this issue. I need to develop camera preview using CameraX my-self to handle this issue ~~.

[2021-05-31 03:36] #208 closed

[2021-05-31 12:14] Azarnoyz opened #211 "Cancel Listener"
Hi, I am using your library in webview and there when the cancel button is clicked, I need to send onReceiveValue() but I can't listen it, could you add a cancel button listener? I know that there is a setDismissListener, but it works every time the dialog disappears, I need it exactly when the button cancel is pressed. Thank you.

[2021-05-31 12:15] Azarnoyz commented on #206
I tried on Android 11, all works

[2021-05-31 12:36] Dhaval2404 commented on #211
Hi @Azarnoyz, The Cancel Listener is not available in ImagePicker. The alternate way is to use your custom dialog instead of ImagePicker (Bonus: You can use dialog code from ImagePicker) and show ImagePicker with selected provider.

[code]

Usage:
[code]

[2021-05-31 14:10] michaelsam94 opened #212 "Handle multiple selection"
## Summary
I need to choose more than one image and the result should be array of Uri to be used in the application

## Android version
30

## Impacted devices
all devices

## Installation method
Gradle

## SDK version
30

## Other information

[2021-05-31 14:13] michaelsam94 commented on #212
[https://ibb.co/yNTjDnc](url)

[2021-05-31 14:17] michaelsam94 commented on #212
Screenshot to clarify the issue
(https://i.ibb.co/JcLJNRw/Screenshot-1622470271.png)

[2021-05-31 15:06] Dhaval2404 commented on #212
@michaelsam94 This feature is not yet available in ImagePicker.

[2021-06-01 10:21] michaelsam94 commented on #212
will it be available soon or in future plan?

[2021-06-02 14:16] Dhaval2404 commented on #212
It's in future plan.

[2021-06-06 05:46] jigneshappdev opened #214 "Changing image formats (PNG to JPG) itself when using crop()"
When I try to crop .PNG image it change format to .JPG, how can I resolve it?

[2021-06-06 16:31] untungsujarwo commented on #206
is the support build artifact hasn't support Android 11 ?

[2021-06-09 13:47] vishalkumarsinghvi commented on #206
Thanks to @Dhaval2404.
I Finished the new version 2.1 and it's working fine
Help resource [](https://gist.github.com/Dhaval2404/f73442b8e584beb9243b465d7b22e2fa) if you have problem with multipart body

[2021-06-10 06:49] AlexanderProdan opened #215 "Receiving URI from intent does not work for camera captures"
## Summary - Using v2.1
Taking the Uri from Intent behaves differently for camera captures and image picks from gallery i.e.
Once we take the camera intent, the Uri seems to be invalid. This works for picked images from libraries though.

## Code to reproduce
Works not for camera captures but gallery images:
          data?.data?.let {
            viewModel.addFile(it)
          }

Works for both,

[2021-06-10 07:39] langhoangal opened #216 "Video picking support"
I known this lib called ImagePicker, but still want to known if is there a chance to add video picking into it.

[2021-06-11 08:11] rahat14 opened #217 "Cpatured Image Taking Time To Load in Image View Via Uri"
## Summary
ITs Taking a lot of time to appear in image view but gallery picked image workling fine

## Code to reproduce
just set image uri to image view
## Android version
 11

## Impacted devices
K20 pro

## Installation method
Maven

## SDK version
30

## Other information

https://user-images.githubusercontent.com/27925309/121653265-5266d500-cabe-11eb-86be-128b6b2bf94a.mp4

[2021-06-11 08:17] rahat14 opened #218 "Gallery Not Apperaing On Image Selection Window"
## Summary
Opening the picker in Gallery Mode

## Code to reproduce
Opening the picker in Gallery Mode

## Android version
11

## Impacted devices
Xiaomi k20 pro

## Installation method
Maven

## SDK version
30
![InkedIMG_20210611_140218_LI](https://user-images.githubusercontent.com/27925309/121654501-9a3a2c00-cabf-11eb-870d-42bef08a73a1.jpg)

## Other information

![Uploading InkedIMG_20210611_14

[2021-06-11 16:49] Dhaval2404 commented on #216
There is a trick using which you can pick the video.

[code]

[2021-06-11 16:49] #216 closed

[2021-06-14 06:02] Taimuur opened #219 "Crash while taking image."
Hi Dhaval,

Application crashes on the production while taking images. Android version 7 is reported in Crahslytics.
Huawei and Q Mobile are the devices reported for the crashes.
Targeting SDK v30

[2021-06-15 14:16] Dhaval2404 commented on #219
@Taimuur Can you please provide us ImagePicker version?

[2021-06-16 05:02] Taimuur commented on #219
@Dhaval2404

Following is the version that we are using in our application.

 api 'com.github.dhaval2404:imagepicker:2.0'

[2021-06-16 14:12] androXdev opened #220 "Calling ImagePciker from a Fragment"
Hi Dhaval2404,
I am having an issue while fetching the result of the data from ImagePciker.
I am using it in java and not kotlin. As you know that onActivityResult() is deprecated in fragments so its troublesome to receive the data in it. I am able to receive the data in Activity level so I know its working!
I just want to know if using ActivityResultLauncher whats the parameter i need to pass ins

[2021-06-20 20:29] sitamadex11 opened #222 "Permission handling in playstore"
Actually, I am developing an e-commerce application using this great library. I want to upload my app to the play store. Then should I mention the permissions (camera and storage) in my play console as the library is handling the permissions automatically?
I have not any experience with the play console, please help me.

[2021-06-21 09:22] amrishkakadiya commented on #193
Is there any fixes for this issue?

[2021-06-23 08:43] angelolloqui commented on #212
+1

[2021-06-23 09:03] anupdey99 commented on #217
Facing the same issue, it takes significant time to preview the image.

[2021-06-23 09:38] nikhilvachhani opened #223 "createIntent not call on return value"
Below is my code it is not working android 11.
==================================
ImagePicker.with(this)
            .galleryMimeTypes(
                mimeTypes = arrayOf(
                    "image/png",
                    "image/jpg",
                    "image/jpeg"
                )
            )
            .maxResultSize(600, 600).compress(512)
            .saveDir(getExternalFilesDir("Ima

[2021-06-23 10:48] mehmet-cpu commented on #220
I'm having the same problem, is there a more detailed explanation for lambda

[2021-06-23 13:28] #223 closed

[2021-06-23 13:28] nikhilvachhani commented on #223
Found issue and resolved due to interface create problem. but resolved now.

[2021-06-23 17:56] appukrb opened #224 "URI to file path in java getting error"
I am using V2.1, In Return URI looks like below, But **setImageUri**() working fine for the below URI.
`ActivityResult{resultCode=RESULT_OK, data=Intent { dat=content://com.android.providers.downloads.documents/document/376 (has extras) }}`

I can't able to covert the URI to File getting Invalid URI exception

java.lang.IllegalArgumentException: Invalid URI: content://com.android.providers.downloa

[2021-06-23 20:50] rahat14 commented on #222
no need .

[2021-06-23 20:51] rahat14 commented on #206
working fine in android 11

[2021-06-23 20:52] rahat14 commented on #217
@Dhaval2404  it also now lags on android 10 on gallery options . please

[2021-06-24 17:26] Rakesh-Card91 commented on #224
same here

[2021-06-25 06:58] akhileshsharma opened #225 "Unable to pick images from Gallery (Was working earlier in the same application, still able to capture from camera)"
## Summary

Image Picker control being used in app https://play.google.com/store/apps/details?id=com.innovativeworldapps.cardtalk for last 10 months aprox. Suddenly it has started giving problem in one handset Xiomi Note 7 Pro with miui 12.  App was installed in the handset for last 10 months aprox and was working fine till aprox 1 month back. Now when app is used it is not able to pick images fro

[2021-06-25 08:34] Rakesh-Card91 commented on #224
Use this `FileUtil.getFileInfo(requireContext(),fileUri)` to get path

[2021-06-25 08:52] akhileshsharma commented on #225
Noticed replacing library version
implementation 'com.github.dhaval2404:imagepicker:1.7.2'
to
implementation 'com.github.dhaval2404:imagepicker:2.1'
fixes issue in the device, so it could be some compatibility issue of OS with specific version of library.

[2021-06-25 08:54] akhileshsharma commented on #225
Closing issue but somebody working on library can still try to investigate further so that its not creeping up again in some other version in future.

[2021-06-25 08:54] #225 closed

[2021-06-27 11:30] paratechnical commented on #218
I have the exact same problem in the AVD

[2021-06-30 05:01] zeusalmighty717 commented on #212
+1

[2021-07-01 04:37] ibrotutic commented on #217
@rahat14 Are you using compression? I noticed that removing any compression from the builder helped significantly. I would guess that compression is being done on the main thread or has a memory leak, haven't looked into it.

[2021-07-02 08:12] rahat14 commented on #217
@ibrotutic  yes i am. i will remove it test it . thnx for the info

[2021-07-03 03:36] aamirkamaal opened #227 "May lead to runtime error"
## Summary

## Code to reproduce

## Android version

## Impacted devices

## Installation method

## SDK version

## Other information

[2021-07-03 03:36] aamirkamaal commented on #227
Manifest merger failed : uses-sdk:minSdkVersion 16 cannot be smaller than version 19 declared in library [com.github.dhaval2404:imagepicker:2.1] C:\Users\Owner\.gradle\caches\transforms-2\files-2.1\73b18f7740b6d2dc75e9a89de1a728cb\imagepicker-2.1\AndroidManifest.xml as the library might be using APIs not available in 16
	Suggestion: use a compatible library with a minSdk of at most 16,
		or increa

[2021-07-03 03:43] #227 closed

[2021-07-05 09:30] appukrb commented on #224
wrongly parse the URI, working fine

[2021-07-05 09:30] #224 closed

[2021-07-07 14:11] anderbytes commented on #220
Right after the class/fragment creation, where you usually create the private vars of the fragment, put this:

[code]

[2021-07-07 14:21] anderbytes opened #228 "Image picked from Camera doesn't show up in crop preview"
Everything is working solid here, with an exception: when I get an image from camera and ask it to be cropped, the "preview" cropiing shows a black screen, but afterwards the resulting image returns as cropped at the final destination.

Has anyone experiencied this?

[2021-07-07 14:40] anderbytes commented on #228
Important: the problem happens on the "Edit Photo" screen, and ONLY with the main camera (back), not the selfie camera (front)

[2021-07-07 20:37] mehmet-cpu commented on #220
Thank you anderbytes,
There is no problem in the codes you write to get results. I'm having a problem with Java, not Kotlin, for example when creating an intent.
 "   .createIntent { intent -> startForProfileImageResult.launch(intent)}   "
I had a problem executing it as java code.

[2021-07-07 22:28] anderbytes commented on #220
You mean that you only need that code but working on Java? If so... have you already tried some converter or anything?

[2021-07-07 23:58] mehmet-cpu commented on #220
No, I haven't tried, but I prefer to use ImagePciker in activity instead of fragment, I couldn't succeed in fragment.

[2021-07-08 00:00] mehmet-cpu commented on #220
Yes I'm just doing it on Java

[2021-07-08 07:51] vedraj360 commented on #217
Yes compression is causing the lag. After removing it works fine.

[2021-07-09 08:03] nguyencongbinh commented on #220
[code]

I got the same problem too on Java. **Missing return statement**. Please kindly help.

[2021-07-10 07:38] aamirkamaal opened #229 "show horizontal image of capture"
## Summary

## Code to reproduce

## Android version

## Impacted devices

## Installation method

## SDK version

## Other information

[2021-07-15 06:26] FauziAmth commented on #217
Yes compressing is causing significant lag.

as workaround i have to show an entire screen progress dialog when starting image picker:
[code]

and dismiss it when result listener called:
[code]

[2021-07-16 11:17] OblivionApps opened #230 "App crashing Fatal Exception"
Hello my app is crashing with this error:

Fatal Exception: android.view.InflateException: Binary XML file line #23 in com.my.app:layout/dialog_choose_app: Binary XML file line #23 in com.my.app:layout/dialog_choose_app: Error inflating class androidx.appcompat.widget.AppCompatImageView

Caused by java.lang.reflect.InvocationTargetException
java.lang.reflect.Constructor.newInstance0 (Constructor.j

[2021-07-19 11:38] appukrb commented on #224
@Rakesh-Card91  how to achieve in java **FileUtil.getFileInfo(requireContext(),fileUri)**

[2021-07-19 11:46] appukrb commented on #224
thanks @Rakesh-Card91  got it `FileUtil.INSTANCE.getTempFile(getActivity(),result.getData().getData());`

[2021-07-19 12:54] appukrb opened #231 "Multiple Image upload : Create Multiple temp files"
Hi Dhaval,
I tried to upload two image and store it temp, but currently I need to upload two image, But temp name is fixed and ir replacing the new image. Is there any way to create multiple temp files

## Summary
I try to upload two images, I am using v2.1 and Is there any way to get temp cache for multi images, currently having one file name replacing the new.

## Android version
Android 11

##

[2021-07-19 13:55] klaszlo8207 commented on #89
I am getting the same, and crashes, what is the solution?

[2021-07-19 13:58] klaszlo8207 opened #232 "TransactionTooLargeException"
I am getting this, when selected any image

java.lang.RuntimeException: android.os.TransactionTooLargeException: data parcel size 43091464 bytes
        at android.app.servertransaction.PendingTransactionActions$StopInfo.run(PendingTransactionActions.java:161)
        at android.os.Handler.handleCallback(Handler.java:900)
        at android.os.Handler.dispatchMessage(Handler.java:103)
        at a

[2021-07-19 14:01] klaszlo8207 commented on #219
Any news on this?

[2021-07-19 14:12] klaszlo8207 commented on #232
In the profiler my app is about 120-160 MB, when selected the ImagePicker and the camera photo take it increases to 280-300 MB, then crash! What is the solution?

[2021-07-21 11:15] gauravgaikwadtaskmo opened #233 "Library not working with most of oneplus devices"
## Summary

## Code to reproduce

## Android version

## Impacted devices

## Installation method

## SDK version

## Other information

[2021-07-21 11:25] gauravgaikwadtaskmo commented on #233
solved after updating library

[2021-07-21 11:26] #233 closed

[2021-07-22 13:03] hitesh-dhamshaniya commented on #232
@klaszlo8207 Can you please try changing the resolution of the camera picture qualities. That might fix your issue temporary.

[2021-07-22 13:06] hitesh-dhamshaniya commented on #230
@OblivionApps Seems like the error occur in your project, not in the library, Can you please check and provide and full stack trace?

[2021-07-22 13:15] OblivionApps commented on #230
Hello Hitesh thanks for your reply im on vacation right now and will be
back in the office on 28th and ill post full stack.

On Thu, 22 Jul 2021, 15:06 Hitesh Dhamshaniya, ***@***.***>
wrote:

[2021-07-22 14:24] klaszlo8207 commented on #232
Sorry I can't. In the profiler increased a lot of memory like I said.

I tried this lib too:

https://github.com/esafirm/android-image-picker

but the same probleme occured... So I ended up with this super library:

https://github.com/shaon2016/ProPicker

This is working like a charm!

[2021-07-27 07:52] nalamzap commented on #220
Did any of you find a solution yet?

[2021-07-27 14:05] mehmet-cpu commented on #220
I couldn't find any solution

[2021-07-27 14:57] ItzNotABug commented on #30
Any updates on this?

[2021-07-28 12:28] alankko commented on #220
ImagePicker.Builder with = ImagePicker.with(this);
        with.crop();
        with.compress(1024);
        with.maxResultSize(1080, 1080);
        with.createIntent(new Function1<Intent, Unit>() {
            @Override
            public Unit invoke(Intent Intent) {
                startForProfileImageResult.launch(Intent );
                return null;
            }
        });

[2021-07-28 15:03] mehmet-cpu commented on #220
Thank you alankko :) I tested it and it works fine

[2021-07-30 07:43] nabeel-terafort opened #234 "Starting intent is crashed on Huawei Honor 7A"
java.lang.IllegalArgumentException
com.github.dhaval2404.imagepicker.util.IntentUtils.getCameraIntent

Huawei Honor 7A
Stack trace
Occurrence 1 of 6
Crash
brightness_1
Huawei HUAWEI Y5 lite
brightness_1
Android 8.1 (SDK 27)
brightness_1
35.aab
brightness_1
13 hours ago
Type
java.lang.RuntimeException
java.lang.RuntimeException:
  at android.app.ActivityThread.performLaunchActivity (ActivityThread.

[2021-08-02 11:55] eldon97 opened #235 "Circle crop"
there is already square crop. it will be nice to have circle crop for use case like profile picture..

[2021-08-05 07:40] paratechnical commented on #212
+1

[2021-08-06 06:29] HimanshuDudhat opened #236 "App name should be removed from library project"
## Summary
Adding library to the project changing the app name as most of the app having app_name key default.

## Code to reproduce
- Just add image picker library in dependency

## Android version
ALL

## Impacted devices
All

## SDK version
2.1

[2021-08-07 11:15] hitesh-dhamshaniya commented on #235
You can achieve it by circle transformation.
If you are used Glide v4 below code snippets would work for you.
[code]
if you are used Picasso below code snippets would work for you
[code]

[2021-08-12 13:19] onuryurtturk commented on #124
added Turkish translation, please accept the PR

[2021-08-13 18:11] Dhaval2404 commented on #222
@sitamadex11 ImagePicker doesn't require any permission so you won't face any issue with the google play store.

[2021-08-13 18:11] #222 closed

[2021-08-13 19:29] Dhaval2404 commented on #236
Thank you @HimanshuDudhat for the suggestion.

The changes will be reflected in the next release.

[2021-08-13 19:29] #236 closed

[2021-08-13 19:32] Dhaval2404 commented on #235
@eldon97 As of now circle crop is not supported but you can go with the approach specified by @hitesh-dhamshaniya above.

You can find the same to be implemented in the sample code. Also, check Profile Image Picker in the preview section for demo.

[2021-08-13 19:32] #235 closed

[2021-08-14 16:49] Dhaval2404 commented on #214
@jigneshappdev Can you please help me with steps to reproduce the issue?

[2021-08-14 16:50] #206 closed

[2021-08-14 17:20] Dhaval2404 commented on #234
@nabeel-terafort It looks like you are using an older version of ImagePicker which has some compatible issues. Please upgrade the ImagePicker to v2.1.

Let me know if you still face the issue.

[2021-08-14 17:20] #234 closed

[2021-08-14 17:25] Dhaval2404 commented on #230
@OblivionApps Have you found any solution?

[2021-08-14 17:26] Dhaval2404 commented on #229
Duplicate of #56

[2021-08-14 17:26] #229 closed

[2021-08-14 17:49] #211 closed

[2021-08-14 17:52] Dhaval2404 commented on #149
Marking the issue as closed because there has been no response to our request for more information from the original author. With only the information that is currently in the issue, we don't have enough information to take the action.

[2021-08-14 17:52] #149 closed

[2021-08-14 17:54] #109 closed

[2021-08-14 17:56] #53 closed

[2021-08-14 17:56] #31 closed

[2021-08-14 17:58] Dhaval2404 commented on #139
Duplicate of #217

[2021-08-14 17:58] #139 closed

[2021-08-14 18:02] Dhaval2404 commented on #217
I am looking for a possible fix.

As a workaround please use **maxResultSize** along with compress. This will speed up the compression.

[code]

[2021-08-14 18:31] #202 closed

[2021-08-14 18:34] Dhaval2404 commented on #212
Duplicate of #3

[2021-08-14 18:35] #205 closed

[2021-08-14 18:44] Dhaval2404 commented on #164
@lobothijau It seems like a memory issue. Can you please enable the **"Don't keep activities"** option from developer options and try it on some other device?

You will need to properly handle the fragment restore when the activity recreates itself.

<img src="https://user-images.githubusercontent.com/7314181/129457204-e7d8480b-6c24-4057-9c60-b217272038b0.png" width="280">

[2021-08-14 18:46] Dhaval2404 commented on #154
@missyadavmanisha I am not able to reproduce the issue. is this happening on any specific device or all devices?

[2021-08-14 19:16] ghost commented on #230
Hello as Hitesh said it was an error in my project.
This issue can be closed. Library works perfectly fine.
Thanks and Sorry for the late reply i totally forgot about it.

On Sat, Aug 14, 2021 at 7:25 PM Dhaval Patel ***@***.***>
wrote:

[2021-08-15 04:37] #230 closed

[2021-08-15 08:46] MHKalantarian commented on #230
Can you tell me what fixed it? I'm having the same error

[2021-08-15 14:03] Dhaval2404 commented on #224
**Do not parse URI to file, It will not work**(Even you get the path there will be a permission issue).

There will be an alternate way to achieve the same with uri which you're trying to achieve with the file object.

[2021-08-16 03:29] zeusalmighty717 commented on #3
Is this being worked upon?

[2021-08-23 07:14] tushar-ifarmer commented on #23
I am also getting the error. Is it solved? I am using version 2.1

[2021-08-23 07:17] wishstore36 opened #239 "Delete Selected Image"
Thanks for the Library.

there is requirement to delete the Selected Image, can you please guide how to achieve the same.

Once the client has selected image, other processing is done in the app, and moment the data is saved, the selected image must be deleted.

[2021-08-24 14:29] vtxmg opened #240 "ucrop url not found"
Codes are fine, no any errors shown but when I click on run button this errors were found on log and stopped running further.

## Summary

8: Task failed with an exception.
-----------
* What went wrong:
Execution failed for task ':app:mergeDebugNativeLibs'.

     Searched in the following locations:
       - https://dl.google.com/dl/android/maven2/com/github/yalantis/ucrop/2.2.6-native/ucrop-2.2.

[2021-08-25 03:51] hrushikeshthule opened #241 "java.io.IOException: Operation not permitted"
java.io.IOException: Operation not permitted
java.io.UnixFileSystem.createFileExclusively0(Native Method)
java.io.UnixFileSystem.createFileExclusively(UnixFileSystem.java:317)
java.io.File.createNewFile(File.java:1008)
com.github.dhaval2404.imagepicker.util.FileUtil.getImageFile(FileUtil.kt:51)
com.github.dhaval2404.imagepicker.provider.CropProvider.cropImage(CropProvider.kt:105)
com.github.dhaval

[2021-08-25 12:14] hitesh-dhamshaniya commented on #241
Hello @hrushikeshthule

As a temporary fix you could do: In your android/app/src/main/AndroidManifest.xml file, at

`<application android:label="APPNAME" android:icon="ICONNAME" android:requestLegacyExternalStorage="true">
`

[2021-08-25 12:20] hitesh-dhamshaniya commented on #240
Hey @vtxmg

Kindy try by adding UCrop dependency manually

[code]
`implementation 'com.github.yalantis:ucrop:2.2.6'` - lightweight general solution

`implementation 'com.github.yalantis:ucrop:2.2.6-native' ` - get the power of the native code to preserve image quality (+ about 1.5 MB to an apk size)

[2021-08-25 14:06] vtxmg commented on #240
@hitesh-dhamshaniya  I tried implementation given by you still not working. Please guide me stepwise as I am new on android development :)

[code]
I tried to paste this code in my build.gradle  Project  but shows other errors. Do I need to include this code in other way? I used this codes:
[code]

[2021-08-25 17:18] Dhaval2404 commented on #240
@vtxmg Configuration looks good to me and I have verified on jitpack the uCrop dependency is available there.

Sometimes network provides download issues. If possible can you please change the network and see if it works or not. or my be apply VPN and give it a try.

[2021-08-25 17:21] Dhaval2404 commented on #239
@wishstore36  Specify the Image Save Directory and delete the image in it after the image procession is done.

Please check the readme file to know more about the save directory.

[2021-08-25 17:21] #239 closed, assigned to nobody

[2021-08-25 17:26] Dhaval2404 commented on #241
@hrushikeshthule Can you please share the code to reproduce the issue along with the ImagePicker version and Android device OS Version that you have tested.

Without this, we will not be able to work on the issue.

[2021-08-25 17:29] Dhaval2404 commented on #240
@vtxmg For a simple test download the ucrop-2.2.6.aar from the below link. If it fails then there must be some issue with your networks.

[https://jitpack.io/com/github/yalantis/ucrop/2.2.6/ucrop-2.2.6.aar](https://jitpack.io/com/github/yalantis/ucrop/2.2.6/ucrop-2.2.6.aar)

[2021-08-25 18:43] vtxmg commented on #240
@Dhaval2404  it has been downloaded successfully without using any vpn.

[2021-08-25 18:54] vtxmg commented on #240
@Dhaval2404  I am showing full code of gradle file:

build.gradle Project
[code]

build.gradle Module
[code]

[2021-08-26 04:16] Dhaval2404 commented on #240
@vtxmg Update build.gradle Project as below

[code]

[2021-08-26 05:44] vtxmg commented on #240
@Dhaval2404  I have used exact same code that is mentioned above and got other errors.
I have screen shot of it:
![build gradle error for imagepicker](https://user-images.githubusercontent.com/11205653/130907289-19ff2370-99df-4759-8048-4b61fd561e95.png)

This is the error:

[code]

Note: I have corrected jetpack to jitpack.

[2021-08-27 17:32] Dhaval2404 commented on #240
@vtxmg There seem to be some changes in the project build.gradle when you use `"com.android.tools.build:gradle:7.0.1"`.

Please add `maven { url "https://jitpack.io" }` in settings.gradle.
[code]
Also, Please revert your project build.gradle

[code]

[2021-08-28 03:26] vtxmg commented on #240
@Dhaval2404 I did everything you have said and I got this error now

[code]

[2021-08-28 03:34] Dhaval2404 commented on #240
You only need this one
`implementation 'com.github.dhaval2404:imagepicker:2.1'`

Remove this if you have added in gradle:
`implementation 'com.github.dhaval2404:imagepicker-support:1.7.1'`

Both library has same class files thats why you're getting duplicate class error. Support lib should be used when your project is not compatible with android X.

[2021-08-28 08:54] vtxmg commented on #240
@Dhaval2404 Thank you so much it is working now. :)

[2021-08-28 08:54] #240 closed, assigned to nobody

[2021-08-31 20:31] ahmed-shehataa opened #242 "How to get the captured image (width and height)"
How to get the captured image (width and height) .

[2021-09-01 01:29] VincentJoshuaET opened #243 "Support saveDir without using compression, crop, or camera"
If I call `saveDir(DIRECTORY)` with `galleryOnly()` AND without `crop*()` OR `compress()`, we should be able to choose if we want to copy the selected image into the directory, so that we can get a File URI instead of a Content URI.

[2021-09-01 05:15] Dhaval2404 commented on #242
You can use `FileUtil.getImageResolution` method

[code]

[2021-09-01 05:15] #242 closed, assigned to nobody

[2021-09-02 12:13] thilak310 commented on #211
Can anyone help me with java equivalent code of above kotlin code? thanks in advance

[2021-09-05 17:06] Sid110307 opened #244 "Save Image to Byte Array/Bitmap"
I'm looking for a way to save the picked image to a variable such as a byte array or a bitmap. How can I do so?

I have tried this:
[code]
but it returns a black image when converted to an image:
<img src="https://user-images.githubusercontent.com/67900745/132236672-e9eda21b-a178-4b84-8db8-2ee2b345474d.png">

[2021-09-05 18:24] Dhaval2404 commented on #244
@Sid110307 I think this link will help you. [https://stackoverflow.com/questions/10296734/image-uri-to-bytesarray](https://stackoverflow.com/questions/10296734/image-uri-to-bytesarray)

[2021-09-06 09:21] Briandosha commented on #220
where is the java code for private val startForProfileImageResult = registerForActivityResult(ActivityResultContracts.StartActivityForResult()) { result: ActivityResult ->
            val resultCode = result.resultCode
            val data = result.data

            when (resultCode) {
                Activity.RESULT_OK -> {
                    //Image Uri will not be null for RESULT_OK

[2021-09-06 14:57] shukiTSP opened #245 "how to get intent in java?"

[2021-09-06 15:07] Sid110307 commented on #244
Thanks for the quick response. I have tried it, but it returns a black image when converted to an image:
<img src="https://user-images.githubusercontent.com/67900745/132236672-e9eda21b-a178-4b84-8db8-2ee2b345474d.png">

[2021-09-06 17:05] DevPraly commented on #245
Hi, same issue here.

Added dependencies but can't figure how to write implementation to create the intent in JAVA.

Sample:
[code]

[2021-09-07 10:01] mehmet-cpu commented on #220
Briandosha  THİS İS THE JAVA CODE for getting data on fragment

https://developer.android.com/training/basics/intents/result#java

ActivityResultLauncher<Intent> mStartForResult = registerForActivityResult(new ActivityResultContracts.StartActivityForResult(),
                        result -> {
                            if (result.getResultCode() == Activity.RESULT_OK) {

[2021-09-07 13:48] 7FatimaMaher opened #246 "Suggestion"
I am using your library and it's good and I recommend to use it, I suggest to make pdf file picker with this library
thanks

[2021-09-09 14:31] vtxmg opened #247 "How to use this Imagepicker in fragment?"
Please give some example code to use imagepicker in fragment class. I got error:

[code]

I got error on (this) that means it is not recognizing (this) and also getExternalFilesDir(). I think it is because we have to pass activity but we are in fragment.

[2021-09-09 17:05] DevPraly commented on #247
Hello, I use ImagePicker in fragment without any problem.
Just add **requireActivity()** before getExternalFilesDir

![imagePicker](https://user-images.githubusercontent.com/75249636/132730584-0dced458-43de-47fe-a366-b36dc5aa6170.jpg)

About **this**, make sure you are not using this in some callback or object

[2021-09-09 20:57] vtxmg commented on #247
@DevPraly I have used this method on activity to set image preview:

[code]

How to do this in fragment? Should I just start extracting img uri and set right after above code or ?

I mean I want to select image first then after selecting the image that same image should be set on imageview this was done using onActivityResult() method before. Now I have used imagepicker in fragment.

[2021-09-10 07:06] DevPraly commented on #247
@vtxmg You can use **onActivityResult** method in fragment too. It's currently deprecated but still working fine.
Also, check if resultCode equals **Activity.RESULT_OK** or **ImagePicker.RESULT_ERROR** before processing, and yes, you can assign image URI here

[2021-09-10 15:05] vtxmg commented on #247
@DevPraly How to use findviewbyid in onActivityResult  on fragment? I got error for findviewbyid.

[2021-09-11 17:50] vtxmg commented on #247
@DevPraly  @Dhaval2404  I have used below code in my fragment but didn't work.

[code]
Used imagepicker in onCreateView()

[code]

It opens the gallery and we can choose the image but won't be shown on imageview that means I think onActivityReault() is not working right? Please help me to solve this.

[2021-09-12 03:56] sb-android-dev commented on #214
I have the same issue when selecting a .PNG image and try to crop it, it converts and saves as .JPG. I have encountered that issue in Android 7 but I am not sure whether it is the issue related to the Android version or phone.
In Realme 2 pro with Android 10, there is no such type of issue but Redmi 5A with Android 8 has this issue.

Following id my code:
`ImagePicker.with(AddBusiness.this).crop()

[2021-09-12 04:00] finnvna opened #248 "Crash app when scale bitmap"
**Catch exception !!!**
`java.lang.RuntimeException: An error occured while executing doInBackground()
        at android.os.AsyncTask$3.done(AsyncTask.java:304)
        at java.util.concurrent.FutureTask.finishCompletion(FutureTask.java:355)
        at java.util.concurrent.FutureTask.setException(FutureTask.java:222)
        at java.util.concurrent.FutureTask.run(FutureTask.java:242)
        at a

[2021-09-12 04:20] sb-android-dev commented on #214
Looks like `.maxResultSize(1080, 1080)` creates problem of converting .PNG to .JPG. I have removed that method and now the code work perfectly.

My Edited Code:
`ImagePicker.with(AddBusiness.this).crop().galleryOnly() .galleryMimeTypes(new String[]{"image/jpeg", "image/png"}).saveDir(getExternalCacheDir()).start();`

[2021-09-13 07:29] DevPraly commented on #247
@vtxmg
Use **this** as parameter for .with()
Use ImagePicker in **onViewCreated()** instead of onCreateView()
Use a private **ImageView myImageView** in your fragment and bind it onViewCreated

`private ImageView myImageView;`

`public void onViewCreated(@NonNull View view, @Nullable Bundle savedInstanceState) {
      super.onViewCreated(view, savedInstanceState);
      myImageView = view.findView

[2021-09-16 18:06] Manthan404 opened #249 "App is Crashing!"
W/Glide: Load failed for null with size [0x0]
    class com.bumptech.glide.load.engine.GlideException: Received null model
V/FA: Inactivity, disconnecting from the service

[2021-09-17 09:39] #244 closed, assigned to nobody

[2021-09-17 12:59] mhemon opened #250 "Deprecated Gradle features were used in this build, making it incompatible with Gradle 8.0."
Android Studio Give an error when i try to use your library.
My AS version :- Android Studio Arctic Fox | 2020.3.1 Patch 1
Build #AI-203.7717.56.2031.7621141, built on August 7, 2021
Runtime version: 11.0.10+0-b96-7249189 amd64
VM: OpenJDK 64-Bit Server VM by Oracle Corporation
Windows 10 10.0
GC: G1 Young Generation, G1 Old Generation
Memory: 1280M
Cores: 4
Registry: external.system.auto.import.d

[2021-09-19 15:52] vtxmg commented on #247
@DevPraly  @Dhaval2404 your above code is not working for me. Still can't set image on imageview.

[code]

[2021-09-22 12:17] Ananthakumars3 opened #251 "Activity Recreate Happen while use camera crop at android 11"
## Summary

## Code to reproduce

## Android version

## Impacted devices

## Installation method

## SDK version

## Other information

[2021-09-22 12:18] Ananthakumars3 commented on #251
activity recreate while crop at android 11

[2021-09-27 06:01] HNY11 commented on #228
facing the same issue in device -
Device Model Number - VIVO 1820 (Y91S)
Android Version - 8.1.0
OS - Funtouch OS_4.5

[2021-09-27 12:09] anderbytes commented on #228
Seeing the logcat I learned that the camera has a high resolution photo so some kind of "max size (pixels width or height)" was reached and trespassed. Then causing the error.

Probably something related to the RAM available, because on more modern devices the error doesn't show up, even if the camera has higher resolution photo.

I hope that the crop preview would first "resize" the taken photo t

[2021-09-29 10:50] zawmoehtike commented on #251
Me too. How can we solve this?

[2021-09-30 09:29] sumit-android-dev commented on #249
Use this code

private val startForProfileImageResult =
    registerForActivityResult(ActivityResultContracts.StartActivityForResult()) { result: ActivityResult ->
        val resultCode = result.resultCode
        val data = result.data

        if (resultCode == Activity.RESULT_OK) {
            //Image Uri will not be null for RESULT_OK
            val fileUri = data?.data!!

            mProfi

[2021-10-04 07:20] alirezabashi98 opened #253 "How do I reverse this?"
## Summary

## Code to reproduce

## Android version

## Impacted devices

## Installation method

## SDK version

## Other information

[2021-10-04 07:31] alirezabashi98 opened #254 "Here is the photo"
Please add a photo
After taking the photo, add the mirror button in the part where the photo is rotated

[2021-10-08 14:08] kzu404 commented on #250
i have same problem did you get solution?

[2021-10-08 15:42] mhemon commented on #250
Android are changing the codebase that why this library didn't work, please write your own code. more info here:-
https://developer.android.com/training/basics/intents/result

[2021-10-09 02:49] kzu404 commented on #250
i write my own but have problem in saving it like give different uri, can i talk with you? your twitter its not active anymore?

[2021-10-11 21:35] ArmandDitto commented on #247
@vtxmg Have you tried override the onResume() ?

[code]

[2021-10-12 09:22] NikNikYkt opened #256 "mimeTypes problem"
hi. I'm have problem
`web.setWebChromeClient( new WebChromeClient() {

            @Override
            public boolean onShowFileChooser(WebView webView, ValueCallback<Uri[]> filePathCallback, FileChooserParams MODE_OPEN_MULTIPLE) {

                ImagePicker.with(activity)
                        .galleryMimeTypes(  //Exclude gif images
                                mimeTypes = arrayOf(

[2021-10-15 05:05] laisuki1109 opened #257 "Image Rotate when crop with specific ratio"
## Summary
The image is rotate when i cropped in "3 : 4", which is the camera original size
If I cropped in square or 9:16, The image will not rotate

## Code to reproduce

        ImagePicker.with(this).crop().start(PERMISSION_REQUEST_CAMERA)

## Android version
Android 11

## Impacted devices
samsung A22

[2021-10-20 08:06] rahul-hexalitics opened #258 "Image name changes in arabic when app lnaguage is arabic"
When App Language is in Arabic, selected image name came in Arabic numbers.
Please fix it, Image name should be only in english.

## Summary

## Code to reproduce

## Android version

## Impacted devices

## Installation method

## SDK version

## Other information

[2021-10-25 12:36] girubhai opened #259 "Image And Video Support at same time"
Thanks for great library !!

Is there support to select both Picture and Video ?

Have checked video support from https://github.com/Dhaval2404/ImagePicker/issues/216 then only video appear .

And In Readme there is code sample of image selection.

Can you please suggest the sample to select both at a time.

Thanks.

[2021-10-25 14:07] Ranjeetsingh9618 opened #260 "Caused by: org.gradle.api.plugins.UnknownPluginException,Plugin with id 'io.gitlab.arturbosch.detekt' not found"
i have problem with gradle build

## Summary

## Code to reproduce
uildscript {
    repositories {
        google()
     maven { url "https://jitpack.io" }
        mavenCentral()
    }
    dependencies {
        classpath "com.android.tools.build:gradle:7.0.3"
        classpath "org.jetbrains.kotlin:kotlin-gradle-plugin:1.5.31"

        classpath "androidx.navigation:navigation-safe-args-gradle-pl

[2021-10-28 05:48] muhaiminurabir commented on #260
Added this on settings.gradle file

dependencyResolutionManagement {
repositoriesMode.set(RepositoriesMode.FAIL_ON_PROJECT_REPOS)
repositories {
    google()
    mavenCentral()
    jcenter() // Warning: this repository is going to shut down soongoing to shut down soon
    maven { url 'https://jitpack.io' }
}
}

[2021-10-28 13:11] hitesh-dhamshaniya commented on #253
Can you please elaborate issue? It is not clear from the title.

[2021-10-28 13:22] naumfaizissuh opened #261 "Error after choose Gallery and cancel task"
Well I am using ImagePicker in WebView android, if I choose the picture the WebView upload the image without any issue, but if I choose Gallery/Camera and I cancel the task I can't open anymore the ImagePicker.

[2021-10-28 14:09] naumfaizissuh commented on #261
+This issue happens when I choose to upload an image but then before I hit the camera/gallery I choose cancel on alert dialog, after this I can't open anymore the alert dialog, any way to get the click on the "cancel" value?

[2021-10-29 19:03] geckogecko commented on #259
+1 Also interested in this feature

[2021-11-02 12:07] ArisChoice commented on #10
Any update For this point ?

[2021-11-06 07:56] tayalanuj1988 commented on #217
Facing the same issue

[2021-11-09 13:57] build3r opened #263 "Gallery Option does not List gallery app"
## Summary
The gallery option list all documents and and shows images recent images. But it does not list the default gallery app or Google photos app which can have different folders for easy selection of picture.

## Code to reproduce
The issue is because the Intent is set to [open a document ](https://github.com/Dhaval2404/ImagePicker/blob/49f07ca86bfc9e6e100fe69413196094322fa471/imagepicker/sr

[2021-11-09 17:13] build3r commented on #243
Meanwhile we can create the cache file manually
[code]

[2021-11-10 09:03] nikeru8 commented on #240
save my day.

[2021-11-12 08:23] MinJerry1129 opened #265 "Imagepicker with Camera is not working on kotline in version2.1(version1.8 works well)"
## Summary
When run the app, Camera not work.
I got issue message: Permission denied

## Android version
I'm building on android 29, 30
minSDK:21
mtargetSdk:29,30

## Impacted devices
Honor 9 Lit

[2021-11-15 18:36] profelyas opened #266 "Failed to resolve: com.github.dhaval2404:imagepicker:2.1"
i added
[code]
but i still got this error
Failed to resolve: com.github.dhaval2404:imagepicker:2.1

the other version 1.7.1 works fine

[2021-11-16 16:15] dulejo commented on #245
[code]

[2021-11-17 15:46] hubercode commented on #263
Why did you close your PR? Did you find another solution?

[2021-11-23 02:59] ameersabith opened #267 "How to use Inline method in Fragment"
Have to use inline method in fragment. Any update on it?

[2021-11-26 09:41] egeysn commented on #224
File file = new File(Objects.requireNonNull(FileUriUtils.INSTANCE.getRealPath(OrderReviewActivity.this, uri)));
its working me perfectly

[2021-11-26 10:21] marva2013 opened #268 "ERROR ON OPPO PHONE"
Hello on taking the image i get the following error

[2021-11-26 10:21] #268 closed, assigned to nobody

[2021-11-26 10:22] marva2013 opened #269 "Crash in oppo"
Hello,
I have this error on taking camera image and the app crash only in oppo A5 2020 can you help me please

2021-11-26 11:14:26.765 21106-21106/tn.scanlog.scanlog E/ANR_LOG: Blocked msg = { when=-8s180ms what=159 target=android.app.ActivityThread$H obj=ClientTransaction hashCode, mActivityToken = android.os.BinderProxy@8aec3e5 mLifecycleStateRequest ResumeActivityItem{procState=-1,updateProcSta

[2021-11-26 21:20] khchoudhary8 commented on #247
i have the same issue, do you have a resolution?

[2021-12-01 11:52] dearpranay opened #270 "Crash while parsing image meta data and google have rejected the release"
**Error log:**

[code]

**Android version:**

- Android 8

**Impacted devices**

- redmi 6A

**Installation method:**

- I am using library to get image from gallery as profile photo upload feature

**SDK version:**

 - Library version :  com.github.dhaval2404:imagepicker-support:1.7.1

**Other information:**

* https://forum.unity.com/threads/error-when-submitting-app-to-google-play.1098139/#post

[2021-12-08 18:51] nirmal700 commented on #266
Add jitpack.io to setting. gradle
then sync your project

[2021-12-09 07:45] Dhaval2404 commented on #266
Please use this
`implementation 'com.github.Dhaval2404:ImagePicker:v2.1'
`

[2021-12-09 16:27] alirezabashi98 commented on #253
How to flip a photo

[2021-12-09 18:52] mohammedmans opened #271 "onActivityResult now deprecated"
Hello,
I'm trying implement in java using registerForActivityResult because onActivityResult now is deprecated,
but can't call
[code]

[2021-12-10 08:07] AndroidGamma commented on #266
In Settings.gradle file
**Add this ->  maven { url "https://jitpack.io" }**
And
in build.gradle (Module level)
**Add this -> implementation 'com.github.Dhaval2404:ImagePicker:v2.1'**

It will resolve
Thanks
@Dhaval2404
@nirmal700

[2021-12-10 08:21] nirmal700 commented on #265
Add the permission for camera in the manifest file and if min api >= 26 ask the user  permission runtime too if not enabled it will ask for permission in the run time

[2021-12-15 02:53] akinsete commented on #266
@Dhaval2404 I added this
implementation 'com.github.Dhaval2404:ImagePicker:v2.1'

And it's still failing to resolve.

[2021-12-15 06:28] nirmal700 commented on #266
In settings.gradle
Add this -> maven { url "https://jitpack.io" }
And
in build.gradle (Module level)
Add this -> implementation 'com.github.Dhaval2404:ImagePicker:v2.1'
If error still persists add screen shot of the error

[2021-12-17 05:07] Dhaval2404 commented on #266
@nirmal700 Please make sure **jcenter()** repo is at the end.

[code]

[2021-12-21 04:13] SopheapSK commented on #219
with Android 7 , It still happens in version 2.1 , Targeting SDK v31.

Caused by java.lang.IllegalArgumentException
width and height must be > 0

android.graphics.Bitmap.createBitmap (Bitmap.java:835)
com.github.dhaval2404.imagepicker.util.ImageUtil.decodeSampledBitmapFromFile (ImageUtil.kt:124)
com.github.dhaval2404.imagepicker.util.ImageUtil.compressImage (ImageUtil.kt:54)
com.github.dhaval2404.

[2021-12-21 19:08] khadija-kaimous commented on #240
I still get the error "cannot resolve method 'with' in 'ImagePicker' "
Help please

[2021-12-23 11:01] hitesh-dhamshaniya commented on #240
@khadija-kaimous
Kindly check build configuration as discussed above. or provide your build.gradle configuration to understand the issue.

[2022-01-02 21:46] brutalmaths commented on #263
The gallery app is very important, without this option I will not use this library. Because as a user of the app I'd be very annoyed

[2022-01-03 04:34] wiryadev commented on #271
Try to implement the latest activity and fragment dependencies

[2022-01-09 15:12] mohammedmans commented on #271
Thanks, Worked.

[2022-01-09 15:12] #271 closed, assigned to nobody

[2022-01-11 05:16] titosobabas commented on #247
does anybody have fixed this?

[2022-01-11 05:18] titosobabas commented on #220
does anybody has the final solution to this problem? i'm facing the same trouble, i can't fetch the result within a fragment using JAVA (not kotlin)

[2022-01-11 05:30] titosobabas commented on #7
do you know how to do it on 2022? it looks that way to do it is deprecated

[2022-01-11 05:34] mehmet-cpu commented on #220
Hi titosobabas, solution is this;

ImagePicker.Builder with = ImagePicker.with(this);
       with.crop();
       with.compress(1024);
       with.maxResultSize(1080, 1080);
       with.createIntent(new Function1<Intent, Unit>() {
           @Override
           public Unit invoke(Intent Intent) {
               startForProfileImageResult.launch(Intent );
               return null;
           }

[2022-01-11 06:01] titosobabas commented on #220
Thanks @mehmet-cpu

I have a little question. Where do i should tu put the last slice of code you wrote me? I'm asking because i was trying to put those lines in my beginning fragment class but everything is in red.

I'm sorry but i would to know if am i doing something wrong.

Thanks again.

[2022-01-11 06:10] mehmet-cpu commented on #220
//use codes like this********************************************************

 private void goGalleryOrCamera() {
        ImagePicker.Builder with = ImagePicker.with(this);
        with.crop();
        with.compress(1024);
        with.maxResultSize(1080, 1080);
        with.createIntent(new Function1<Intent, Unit>() {
            @OverRide
            public Unit invoke(Intent Intent) {

[2022-01-11 08:57] PickupAgency-Admin commented on #247
It works fine in my app.

Config:
[code]
In your fragment

Create an activity result launcher:
[code]

Pick image
[code]

[2022-01-14 04:12] SopheapSK commented on #247
@PickupAgency-Admin your code work just fine, but do you notice this?
there is a gap between Choose Image(When its size is big) then auto compress then  show it , how do you solve this?
for me, I add loading, but it has one bug on there, because there is No Callback when User Click on Back Button.

[2022-01-16 13:49] monfreign commented on #220
Hi may I ask if you know why for me it says "cannot access Function1
        with.createIntent(
            ^
  class file for kotlin.jvm.functions.Function1 not found" I'm also confused what is the Unit class I'm getting error with that as well. Any help is greatly appreciated!

[2022-01-17 07:30] mehmet-cpu commented on #220
@monfreign hi bro, I don't quite understand why you are getting such an error. If you are preparing a project with java, you can get uri results by accessing the gallery and camera by using these codes in the fragment, I use these codes myself in the fragment and do not get an error. You said: "Cannot find class file for kotlin.jvm.functions.Function1" Also I am confused about what Unit class is a

[2022-01-17 17:36] dessalines opened #275 "Fatal crash when using with jetpack compose"
Jetpack compose has the default mainactivity line:

`class MainActivity : ComponentActivity() {`, not AppCompatActivity.

[code]

Error:

[code]

[2022-01-24 07:19] ekamsoftwares-india opened #276 "After implementing this library, google haven't approved the app yet."
Before implementing this library, the app used to get approved within couple of hours, but after implementing this library, google haven't approved the release yet and it's been 18 days. It looks the permission issue. I will keep on posting the approve or disapproval message.

[2022-01-24 07:45] sandeepkashyap1991 opened #277 "After implementing this library my app is under review from last 2 week on google play console. Any suggestion for this problem."
## Summary

## Code to reproduce

## Android version

## Impacted devices

## Installation method

## SDK version

## Other information

[2022-01-24 11:27] periva101 opened #278 "Compose support"
native Compose support

[2022-01-27 17:56] Rohitsachdeva opened #279 "Not able to use registerForActivityResult in java file"
how to use this code in java file

ImagePicker.with(this)
        .compress(1024)         //Final image size will be less than 1 MB(Optional)
        .maxResultSize(1080, 1080)  //Final image resolution will be less than 1080 x 1080(Optional)
        .createIntent { intent ->
            startForProfileImageResult.launch(intent)
        }

[2022-01-28 11:15] Gagandeep1408 opened #280 "Crash"
Fatal Exception: java.lang.RuntimeException
Unable to start activity ComponentInfo{com.tuma.libtravel/com.github.dhaval2404.imagepicker.ImagePickerActivity}: android.content.ActivityNotFoundException: No Activity found to handle Intent { act=android.media.action.IMAGE_CAPTURE flg=0x3 clip={text/uri-list {...}} (has extras) }
android.app.ActivityThread.performLaunchActivity
keyboard_arrow_down
Caus

[2022-02-01 05:45] Amark18 commented on #277
I have an app on the google play store with this library, I do not think that is the issue,

[2022-02-02 16:20] antaki93 commented on #279
Try this:
[code]

[2022-02-04 19:36] FakhrulASA opened #281 "Scoped storage"
In this library it needs READ/WRITE external storage, as a result, we cannot use this library in android 11+. Kindly remove any external library used in this library which uses READ/WRITE external storage
## Summary

## Code to reproduce

## Android version

## Impacted devices

## Installation method

## SDK version

## Other information

[2022-02-04 19:37] FakhrulASA commented on #281
-scope storage

[2022-02-10 07:49] ManikandanVi opened #282 "Shows application stores sensitive information in external storage"
## Summary

## Code to reproduce

## Android version

## Impacted devices

## Installation method

## SDK version

## Other information

[2022-02-10 07:53] ManikandanVi commented on #282
com/github/dhaval2404/imagepicker/util/FileUriUtils.java

val contentUri = ContentUris.withAppendedId(
            Uri.parse("content://downloads/public_downloads"), java.lang.Long.valueOf(id)
        )

[2022-02-10 09:26] Prosenjit91 opened #283 "Camera App Not Found/Crash On activity result"
## Summary

## Code to reproduce

## Android version

## Impacted devices

## Installation method

## SDK version

## Other information

[2022-02-10 13:55] pawel-hn opened #284 "No result provided back on some devices."
## Summary
After selecting an image, either from gallery or by camera, no result is provided and app is reloaded to the main view, not the view where picker was started. I've compare my code with Sample and couldn't find any potential cause., logic is pretty the same. Strange thing is, I have this problem on Nokia 7 and Motorola G8, both with clean Android 10.  I've checked on below phones and it

[2022-02-12 09:44] Prosenjit91 commented on #284
I also faced the same problem. I have posted and mailed this issue but no one has replied to anything.Do you have a solution? Or is there a better library link?

[2022-02-15 16:11] albytom opened #285 "Selecting images from Download folder is crashing the app."
## Summary
The app crashes with the following log when image is picked from Downloads folder.
2022-02-15 21:40:41.828 5322-5601/com.demo.pcu E/AndroidRuntime: FATAL EXCEPTION: AsyncTask #1
    Process: com.demo.pcu, PID: 5322
    java.lang.RuntimeException: An error occurred while executing doInBackground()
        at android.os.AsyncTask$4.done(AsyncTask.java:399)
        at java.util.concurrent.

[2022-02-16 12:38] pawel-hn commented on #284
Still no solution found.

[2022-02-18 15:12] ashwin-nath-m commented on #285
happening for me too

[2022-02-21 09:37] vedraj360 commented on #284
Not working with OnePlus 6 also.

[2022-02-22 09:16] makrimaria commented on #154
After days of trying to figure out what's happening, I finally realized that the issue was that API version 26 has a bug/doesn't support setting the orientation of the app. Specifically this line of code was crashing the app:
                activity.requestedOrientation = ActivityInfo.SCREEN_ORIENTATION_PORTRAIT
I changed it to:
if(Build.VERSION.SDK_INT != 26) {
                activity.requested

[2022-02-23 12:09] abc2005 opened #286 "setImageUri java.lang.IllegalArgumentException: Bounds for bitmap could not be retrieved from the Uri ImagePicker"
I'm using the library it's great thanks for sharing .... there is only an error I get when I use camera . this is my code :
`ImagePicker.with(Profile.this)
                        .cameraOnly()    //User can only select image from Gallery
                        .cropSquare()
                        .compress(1024)            //Final image size will be less than 1 MB(Optional)

[2022-02-26 15:54] Nishmitha1299 commented on #247
@DevPraly I have also used the same code line for image capture using camera but it is not working. Can you please help me out?

[2022-03-04 11:22] build3r opened #287 "Image type change from jpg to png if compress in enabled"
## Summary
If we set the compress option or maxResultSize option, the file extension changes to PNG from anyother type

## Code to reproduce
The issue is because of this [line](https://github.com/Dhaval2404/ImagePicker/blob/1ef2d9cd4bdf6cc3f851a8ee987bf828b164a045/imagepicker/src/main/kotlin/com/github/dhaval2404/imagepicker/util/FileUtil.kt#L131)
[code]
We should consider uri field type before cr

[2022-03-05 14:06] gehadfatah opened #288 "can add multi selection from gallary"
## Summary

## Code to reproduce

## Android version

## Impacted devices

## Installation method

## SDK version

## Other information

[2022-03-06 11:45] gifandadelasty commented on #124
Hi, I'm newbie on GitHub, but I want to contribute to translate ImagePicker to Bahasa Indonesia, how to do it?

[2022-03-09 09:17] PatricioIN commented on #288
It would be a good feature

[2022-03-10 18:40] desaialpesh commented on #284
Not working in API 30

[2022-03-14 09:36] build3r commented on #86
Having similar issue in lib v2.1
Device info:
Brand:Xiaomi
Model:Redmi Note 7
Operating System
Version:Android 10
Orientation: Portrait
RAM free: 840.25 MB
Disk free: 19.34 GB
[code]

[2022-03-19 13:01] gomtos opened #289 "Can you add a function to select an image from a given uri list?"
## Summary

## Code to reproduce

## Android version

## Impacted devices

## Installation method

## SDK version

## Other information

[2022-04-04 07:34] Rishabh-More commented on #217
@Dhaval2404 The current compression method in your code isn't Optimized. If you can't resolve for a more optimized method, I suggest to take a look at this library: [Compressor](https://github.com/zetbaitsu/Compressor)

I have used this library in my previous projects, and it's compression is very optimized!